<nav role="navigation" class="@(ViewBag.MenuClass ?? "")">
    <div class="navInnerWrap">

        <a href="/static/trending" id="Trending" title="" class="menu @(ViewBag.MenuSection == "Trending" ? "selected" : "") ">

            <img src="/images/svgicons/Trendingicon.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/Trendingicon.png" /><br />
            Trending
        </a>

        <a href="@Url.Action("Index", "YogaMap")#MapTitle" id="Yogamap" title="The Yoga Map" class="menu @(ViewBag.MenuSection == "YogaMap" ? "selected" : "")"><img src="~/images/svgicons/Icon_PinGreen.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/Icon_PinGreen.png"/><br/>The Yoga Map</a>

        <a href="#" id="Shop"  onclick="javascript: ShopClick();" class="menu" title="Visit our shop"><img src="~/images/svgicons/shopicon.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/shopicon.png"/><br/>Shop</a>

        @*<div id="community-sub" class="sub-menu @(ViewBag.MenuSection == "Community" ? "selected" : "")">
            <a href="http://blog.yogaclicks.store/">Our New Blog!</a>
            <a href="http://www.yogaclicks.com/static/Trending/">Trending</a>
        </div>*@

        <a href="http://blog.yogaclicks.store" id="community" title="Newsfeed" class="menu">
            <img src="~/images/svgicons/icon_blog.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_blog.png" /><br />
            Blog
        </a>

        <a href="@Url.Action("Index", "Medic")" id="medic" title="YogaMeds" class="menu @(ViewBag.MenuSection == "Medic" ? "selected" : "")"><img src="~/images/svgicons/Icon_YogaMeds.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/Icon_YogaMeds.png"/><br/>YogaMeds</a>
        <div id="Medic-sub" class="sub-menu @(ViewBag.MenuSection == "Medic" ? "selected" : "")">
            <ul>
                <li><a href="@Url.Action("Index", "Medic")" class="">YogaMeds<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("OurMission", "Medic")">Infographic<span>&nbsp;</span></a></li>

            </ul>
        </div>


        <a href="@Url.Action("discover", "Static")" id="discover" title="Find - Seek and ye shall find" class="menu @(ViewBag.MenuSection == "Discover" ? "selected" : "")">


            <img src="~/images/svgicons/icon_find.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_find.png" /><br />Find


        </a>
        <div id="discover-sub" class="sub-menu @(ViewBag.MenuSection == "Discover" ? "selected" : "")">
            <ul>
                <li><a href="@Url.Action("teachers", "Search")">Teachers<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Teachers", "Search", new {YogaTherapists = "true"})">Yoga therapists<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("venues", "Search")">Venues<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Index", "AccreditationBodys")">Accrediting / registering bodies<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("TeacherTrainingOrganisations", "Search")">Teacher training<span>&nbsp;</span></a></li>

                <hr />
                <li><a href="@Url.Action("Search", "Activities", new {TypeId = 1})">Classes<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Search", "Activities", new {TypeId = 2})">Workshops<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Search", "Activities", new {TypeId = 3})">Weekends<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Search", "Activities", new {TypeId = 4})">Holidays / retreats<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Search", "Activities", new {EventTypeId = 7, se = "true"})">Special events<span>&nbsp;</span></a></li>
                <hr />
                <li><a href="@Url.Action("Groups", "Search")">Groups<span>&nbsp;</span></a></li>
            </ul>
        </div>


        <a href="@Url.Action("practice", "Static")" id="practice" title="Styles & Poses - Discover your yoga style, strike a pose" class="menu @(ViewBag.MenuSection == "Practice" ? "selected" : "")"><img src="~/images/svgicons/icon_practice.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_practice.png"/><br/>Styles & Poses</a>
        <div id="practice-sub" class="sub-menu @(ViewBag.MenuSection == "Practice" ? "selected" : "")">
            <ul>


                <li><a href="@Url.Action("Index", "Styles")" class="">Style finder<span>&nbsp;</span></a></li>

                <li><a href="@Url.Action("Directory", "Poses")" class="">Pose finder<span>&nbsp;</span></a></li>

            </ul>
        </div>

        <a href="@Url.Action("wisdom", "Static")" id="wisdom" title="Beginners - From darkness into light" class="menu @(ViewBag.MenuSection == "Wisdom" ? "selected" : "")"><img src="~/images/svgicons/icon_Beginner.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_Beginner.png"/><br/>Beginners</a>
        <div id="wisdom-sub" class="sub-menu @(ViewBag.MenuSection == "Wisdom" ? "selected" : "")">
            <ul>
                <li><a href="@Url.Action("Quiz", "Static")" class="">StyleMatch<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("beginners-faq", "Static")">Beginners FAQs<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("what-is-yoga", "Static")">What is yoga?<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("history-of-yoga", "Static")">The history<br/> of yoga<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("is-yoga-a-religion", "Static")">Is yoga a religion?<span>&nbsp;</span></a></li>

                <li><a href="@Url.Action("Index", "Glossary")">Yoga lingo<span>&nbsp;</span></a></li>
                <li><a href="@Url.Action("Index", "Quotes")">Quotes<span>&nbsp;</span></a></li>
            </ul>
        </div>


        @if (SecurityContext != null)
        {


            if (!SecurityContext.Authenticated)
            {
                <a href="/" id="myaccount" title="My profile" class="reg-form-popup menu"><img src="~/images/svgicons/icon_ProfileTeal.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_ProfileTeal.png"/><br/>My profile</a>
            }
        }
        else if (SecurityContext == null)
        {
            <a href="/" id="myaccount" title="My profile" class="reg-form-popup menu"><img src="~/images/svgicons/icon_ProfileTeal.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_ProfileTeal.png"/><br/>My profile</a>
        }

        @if (SecurityContext != null && SecurityContext.CurrentProfile != null && !SecurityContext.CurrentProfile.Professional)
        {
            <a href="@Url.Action("Display", "Profiles", new {SecurityContext.CurrentProfile.Id})" id="myaccount" title="My profile:&#10;About me&#10;My friends&#10;Galleries&#10;My reviews&#10;My events&#10;Fan of&#10;My groups" class="menu @(ViewBag.MenuSection == "My profile" ? "selected" : "")"><img src="~/images/svgicons/icon_ProfileTeal.svg" class="Iconsmenu" data-svgpng="/images/SvgIcons/icon_ProfileTeal.png"/><br/>My profile</a>
            <div id="myaccount-sub" class="sub-menu @(ViewBag.MenuSection == "My profile" ? "selected" : "")">
                <ul>
                    <li><a href="@Url.Action("Display", "Profiles", new {SecurityContext.CurrentProfile.Id})">About me<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Friends", "Profiles", new {SecurityContext.CurrentProfile.Id})">My friends<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Galleries", "Profiles", new {SecurityContext.CurrentProfile.Id})">Galleries<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Reviews", "Profiles", new {SecurityContext.CurrentProfile.Id})">My reviews<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Activities", "Profiles", new {SecurityContext.CurrentProfile.Id})">My events<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Fanned", "Profiles", new {SecurityContext.CurrentProfile.Id})">Fan of<span>&nbsp;</span></a></li>
                    <li><a href="@Url.Action("Groups", "Profiles", new {SecurityContext.CurrentProfile.Id})">My groups<span>&nbsp;</span></a></li>
                

                </ul>
            </div>
        }




    </div>
</nav>



