@model Clicks.Yoga.Portal.Models.Account.AccountPasswordResetModel

@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="forgotPasswordBg">
    <div class="container-960">
           <div class="manual-register" style="margin-top:140px;">



@using (Html.BeginForm()) {

    
     @Html.ValidationSummary()

    @Html.HiddenFor(model => model.Key)
    
  
        <h2>Choose your new password</h2>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password, "Enter new password")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password, "Confirm your password")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.PasswordConfirmation)
            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
        </div>

        <p style="text-align:center;margin-bottom:0;">
            <input type="submit" value="Reset Password" class="button large pink" />
        </p>
}
        </div>
        <a href="http://www.facebook.com/Artist.Photografia" class="copyrightLink">Image courtesy of Robert Sturman</a>
    </div>
</div>