<ul id="tabsNav">
    <li>@Html.ActionLink("Profile", "Display")</li>
    @*<li>@Html.ActionLink("Teacher training", "Courses")</li>*@
    <li>@Html.ActionLink("Schedule", "Schedule")</li> 
    <li>@Html.ActionLink("Reviews", "Reviews")</li>
    <li>@Html.ActionLink("Photos", "Galleries")</li> 
    <li>@Html.ActionLink("Videos", "Videos")</li> 
    <li>@Html.ActionLink("Teachers", "Professionals")</li>
    <li>@Html.ActionLink("Groups", "Groups")</li>
    <li>@Html.ActionLink("Fans", "Fans")</li>
</ul>