@using Clicks.Yoga.Domain.Entities
@model Clicks.Yoga.Portal.Models.Galleries.GalleryCreateModel



<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" id="createalbum" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create an album</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <div id="gallery" class="createGallery">
                        <div class="create-album-body">
                            <div class="row nopadding">


                                <div class="col-xs-8 nopadding">
                                    @Html.EditorFor(m => m.Name, new { maxlength = 100, htmlAttributes = new { @class = "form-control", placeholder = "100 characters maximum" } })
                                </div>

                                <div class="col-xs-4 nopadding">
                                    <a id="@Guid.NewGuid()" href="javascript:void(0)" class="btn btn-default btn-clear pull-right" data-role="UploadButton" data-url="@Url.Action("UploadImage", new { Id = "" })">Add photos +</a>
                                </div>

                            </div>

                            <div class="row nopadding">



                                <div class="col-xs-12 nopadding">
                                    @if (Model.AssociateHandles.Options.Count > 0)
                                    {
                                        <div class="shareGallery">
                                            <strong>Share this gallery to...</strong>
                                            @Html.EditorFor(m => m.AssociateHandles)
                                            <br />
                                            All galleries are automatically shared to your personal profile.
                                        </div>
                                    }

                                    <div data-role="Errors" class="validation-summary-errors" style="display: none;">
                                        <ul>
                                            <li>
                                                There was a problem uploading one or more images. The file may be corrupted
                                                or may not have finished transferring.
                                            </li>
                                        </ul>
                                    </div>

                                    <div data-role="Entries" class="entries gallery-section" style="height: auto !important;">
                                        @Html.Partial("UploadProgressPartial")
                                    </div>

                                </div>
                            </div>


                                </div>
                                <div class="row nopadding">
                                    <div class="col-sm-9 nopadding">
                                        @Html.RadioButton("Public", true, true, new { @id = "createRadio" })<label style="display: inline !important; padding:5px;" for="Public">Public</label>
                                        @Html.RadioButton("Public", false, false, new { @id = "createRadio" })<label style="display: inline !important;  padding:5px;"  for="Public" class="privateClass">Private</label>
                                        <span class="questionMark privacyQuestionMark">?</span>
                                        <div class="levelBox privacyBox" style="display:none;">
                                            <strong>Make public</strong>: anyone on YogaClicks can see your photo gallery.<br/><br/>
                                            <strong>Make Private</strong>: only your YogaClicks friends can see your gallery.
                                            <a href="#" class="close">x</a>
                                        </div>



                                    </div>

                                    <div class="col-sm-3 nopadding">
                                  <div class="hidden-sm hidden-md hidden-lg"><br /></div>
                                        <button type="submit" data-role="SaveGallery" class="btn btn-success">Save gallery</button>
                                    </div>
                                </div>
                            </div>
                            }


                        </div>
     
        </div>
    </div>
</div>








<script>
    $(function () {
        $('#gallery').yogaGallery();
        $('.privacyQuestionMark').click(function (event) {
            event.preventDefault();
            $('.privacyBox').toggle();
        });
        $('.privacyBox .close').click(function (event) {
            event.preventDefault();
            $('.privacyBox').hide();
        });
    });
</script>
