@using Clicks.Yoga.Portal.Models.Galleries
@model Clicks.Yoga.Portal.Models.Galleries.GalleryDisplayPartialModel

@{
    var guid = Guid.NewGuid().ToString();
}

            
    <div class="well buisnesscard" style="vertical-align: middle;">

    <h4 class="pull-left"><a href="@Url.Action("Galleries", Model.EntityType.Controller, new { Id = Model.EntityId })" class="ARlink">@Model.Gallery.Name</a></h4>



        @if (Request.UrlReferrer != null)
        {
            <a onclick="history.go(-1); return false;" class="ARlink pull-right " alt="back" href="#">

                <span class="glyphicon-stack">
                    <i class="glyphicon glyphicon-circle glyphicon-stack-2x Gcircle"></i>
                    <i class="glyphicon glyphicon-menu-left glyphicon-stack glyphicon-stack-1x Garrow"></i>
                </span><span style="vertical-align:text-bottom">Back</span>
            </a>
        }





        <hr />



    @if (SecurityContext != null)
    {
        if (SecurityContext.CanUpdate(Model.Gallery))
        {
            <div class="image-instruction">Click on any image and tick 'Display on profile page' or 'Set as gallery cover'</div><br />
        }
    }
        <div id="@guid" class="row">
            <div class="col-xs-12">
                <div class="gallery-section">


                    @if (SecurityContext != null)
                    {
                        if (SecurityContext.CanUpdate(Model.Gallery))
                        {
                            <div class="addpadding" data-role="UpdateForm">
                                <div class="header  row ">
                                    @if (!Model.Gallery.IsNewsfeed)
                                    {
                                        <div class="fl">
                                            <label for="Name">Album title</label>
                                            @Html.TextBox("Name", Model.Gallery.Name, new { @class = "form-control" })
                                        </div>
                                        <div class="fr">
                                            <div class="btn-group">
                                                <button id="guid-@Guid.NewGuid()" data-role="UploadButton" data-url="@Url.Action("UploadEntry")" class="btn btn-default btn-clear">Add photos +</button>


                                                <button data-role="UpdateButton" data-url="@Url.Action("Update")" data-success="@Url.Action("UpdatedConfirmation")" class="btn btn-success">Save changes &nbsp; <i class="fa fa-floppy-o"></i></button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="fl">
                                            <h3>Newsfeed Photos</h3>
                                        </div>
                                    }
                                </div>

                                <div class="row inputRow">
                                    @Html.RadioButton("Public", true, Model.Gallery.Public, new { data_url = @Url.Action("Update"), data_id = Model.Gallery.Id }) <label>Public</label>
                                    @Html.RadioButton("Public", false, !Model.Gallery.Public, new { data_url = @Url.Action("Update"), data_id = Model.Gallery.Id }) <label>Private</label>
                                    @if (!Model.Gallery.IsNewsfeed)
                                    {
                                        @Html.CheckBox("Open", Model.Gallery.Open)
                                        <label>Other users can add pictures to this gallery</label>
                                    }
                                </div>

                                @if (Model.AssociateHandles.Options.Count > 0 && !Model.Gallery.IsNewsfeed)
                                {
                                    <div class="row inputRow">
                                        <div class="shareGallery">
                                            <strong>Share this album to...</strong>
                                            @Html.EditorFor(m => m.AssociateHandles)
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="galleryTitle">
                            <h3>@Model.Gallery.Name</h3>

                            @* DWTIMEHERE *@
                            <p>Added on @Html.LocalDateTime(@Model.Gallery.CreationTime.ToUniversalTime().ToString("u"))</p>

                            @if (Model.Gallery.Open)
                        {
                                <button id="@Guid.NewGuid()" data-role="UploadButton" data-url="@Url.Action("UploadEntry", new {isNewsFeed = false})">Add more photos</button>
                        }
                        </div>
                }
                </div><br />
                <div data-role="Entries" class="galleryEntries">
                    @Html.Partial("UploadProgressPartial")

                    @for (var i = 0; i < Model.Entries.Count; i++)
                {
                    if (i == 0)
                    {
                        @Html.Raw("<div class=\"row nopadding\">")
                    }
                    else if ((i%3) == 0)
                    {
                        @Html.Raw("</div><div class=\"row nopadding\">")
                    }

                    @Html.Partial("EntryThumbnailPartial", new GalleryEntryThumbnailPartialModel(Model.Entries[i]))
                }

                    @Html.Raw("</div>")

                </div>
            </div>
        </div>
</div>


    <script>
        $(function () {
            $('#@guid').yogaGallery();
        });
    </script>
