
<div class="Menusubparent ">


    <div class="row Menuparent ">
        <div class="col-sm-3 nopadding">

            <a title="KSR Resources: Recruitment and Job Agency." href="/Home"><h1 class="Logo">KSR<br /><span>resources</span></h1></a>

        </div>
        <div class="col-sm-9 ">

            <span class="MenuInfo hidden-xs">
                <i class="fa fa-phone" aria-hidden="true"></i> +44 (0) 1603 239014<br />
                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:career@ksrresources.com">career@ksrresources.com</a><br />

            </span>




            <div class="navbar Menu">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars" aria-hidden="true"></i>

                        </button>


                        <a class="navbar-brand " href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
                        <span class=" MenuInfo">
                            <span class="hidden-md">
                                +44 (0) 1603 239014<br />
                                <a href="mailto:career@ksrresources.com">career@ksrresources.com</a><br />
                            </span>
                        </span>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-xs"><a href="/"><i class="fa fa-home HomeMenuIcon" aria-hidden="true"></i></a></li>
                            <li>@Html.ActionLink("ABOUT US", "AboutUs", "Home")</li>
                            <li>@Html.ActionLink("SERVICES", "Services", "Home")</li>
                            <li>@Html.ActionLink("CLIENTS", "Clients", "Home")</li>
                            <li>@Html.ActionLink("CANDIDATES", "Candidates", "Home")</li>
                            <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>







