@using Clicks.Yoga.Portal.Models.Groups
@model Clicks.Yoga.Portal.Models.Groups.GroupDisplayModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Layout/Layout.cshtml";

    var guid = Guid.NewGuid().ToString();
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Group))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("Navigation", "Community")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Group.Name" />
    @if (!string.IsNullOrEmpty(Model.Group.Description))
    {
        <meta property="og:description" content="@Model.Group.Description" />
    }
    @if (Model.Group.ProfileBanner != null)
    {
        <meta property="og:image" content="@Model.Group.ProfileBanner.Url" />
    }
}
@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Group.Id, Model.Group.EntityTypeName))

<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Group) ? "" : "community-strip")" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="greenHeader communityHeader"><span>&nbsp;</span>@Model.Group.Name</h2>
                <hr />
                <div class="shareRecommendSection">
                    <div class="fr">
                        <span>Share: </span>
                        @Html.Action("EntityButtons", "Sharing", new { EntityId = Model.Group.Id, Model.Group.EntityTypeName })
                    </div>
                </div>

                <div class="profileBanner groupBanner">
                    @Html.DisplayFor(m => m.Group.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Partial("Tabs", new GroupTabsModel(Model.Permissions, Model.Group))

                <div class="leftCol" id="@guid">
                    @Html.DisplayFor(m => m.Group.Image, "ProfileImage")
                </div>
                <div class="rightCol">
                    <div class="block-section group-block-section">
                        <div class="left">
                            <h3>Promoter</h3>
                        </div>
                        <div class="right">
                            <a href="@Url.Action("Display", Model.Group.PromoterHandle.Controller, new { Id = Model.Group.PromoterHandle.EntityId })">@Model.Group.PromoterHandle.Name</a>
                        </div>
                        <div class="left" style="clear:both;">
                            <h3>Type</h3>
                        </div>
                        <div class="right">
                            @if (Model.Group.Professional)
                            {
                                if (Model.Group.ProfessionsRestricted)
                                {
                                    <p>@string.Join(", ", Model.Professions.Select(e => e.Name + "s")) only</p>
                                }
                                else
                                {
                                    <p>All professionals</p>
                                }
                            }
                            else
                            {
                                <p>Open to all users</p>
                            }
                        </div>
                        <div class="left" style="clear:both;">
                            <h3>Visibility</h3>
                        </div>
                        <div class="right">
                            @if (Model.Group.Public)
                            {
                                <p>Public Group</p>
                            }
                            else
                            {
                                <p>Private Group</p>
                            }
                        </div>
                    </div>
                    <div class="group-block-section">
                        @if (!string.IsNullOrEmpty(Model.Group.Description))
                        {
                            <div class="left">
                                <h3>Description</h3>
                            </div>
                            <div class="right">
                                <p>@Html.NewLines(Model.Group.Description)</p>
                            </div>
                        }
                        @if (Model.Styles.Count > 0)
                        {
                            <hr />
                            <div class="left">
                                <h3>Associated styles</h3>
                            </div>
                            <ul class="right">
                                @foreach (var style in Model.Styles)
                                {
                                    <li><a href="@Url.Action("Display", "Styles", new { style.Id })">@style.Name</a></li>
                                }
                            </ul>
                        }
                        @if (Model.Conditions.Count > 0)
                        {
                            <hr />
                            <div class="left">
                                <h3>Yoga for specific conditions</h3>
                            </div>
                            <ul class="right">
                                @foreach (var condition in Model.Conditions)
                                {
                                    <li><a href="@Url.Action("Display", "Medic", new { condition.Id })">@condition.Name</a></li>
                                }
                            </ul>
                        }
                        @if (SecurityContext.CanUpdate(Model.Group) || Model.Permissions.Manage)
                        {
                            <button class="button save fr" style="clear:both;" onclick="location.href = '@Url.Action("Update")'; return false; ">Edit</button>
                        }
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
