@model Clicks.Yoga.Portal.Models.Entities.NewsStoryModel
@using System.Configuration
@{
    var newsUpdateGroupId = int.Parse(ConfigurationManager.AppSettings["Clicks.Yoga.NewsUpdateGroup.Id"]);
    var advertiserUserId = int.Parse(ConfigurationManager.AppSettings["Clicks.Yoga.Advertiser.UserId"]);
}
<div class="wallPost groupPosted">
    <div class="wallPostIcon">
        <span>&nbsp;</span>
    </div>
    <div class="content">
        <div class="text">
            @if (Model.Subject.Id == newsUpdateGroupId)
            {
                <div class="more-block readmore-js-section">
                    <div class="news-updates-post-title"><img src="~/Images/yc-square.png" style="width:60px;" />YogaClicks News & Updates</div>

                    @if (Model.Actor.Id == advertiserUserId)
                    {
                        <a href="/static/advertise-with-us" target="_blank" class="sponsored-link">Sponsored</a>
                    }
                    <p>@Html.NewLinesAndUris(Model.Text)</p>
                </div>
            }
            else
            {
                <div class="more-block readmore-js-section">
                    @Html.DisplayFor(m => m.Actor) posted in @Html.DisplayFor(m => m.Target, "EntityHandleModelNoAvatar")
                    <p>@Html.NewLinesAndUris(Model.Text)</p>
                </div>
            }
        </div>

        @Html.Action("PostPartial", "Media", new { Ids = Model.Resources.Select(r => r.Id) })




        @if (!Model.IsShared)
        {
            <div class="news-share-button-container">
                @Html.Partial("ShareButtonPartial", Model)
            </div>
        }
        
        <div class="news-fan-container">
            @Html.Action("Button", "Fans", new { EntityId = Model.Id, entityTypeName = Model.EntityTypeName, newsfeed = true })
        </div>

        @if (!Model.IsShared)
        {
            <small>
                @* DWTIMEHERE *@
                @Html.LocalDateTime(@Model.CreationTime.ToUniversalTime().ToString("u"))

                @if (Model.EntityId > 0 && SecurityContext.IsOwner(Model.Subject))
                {
                    <a href="javascript:void(0)" data-role="DeletePostButton" data-url="@Url.Action("DeletePost")" data-post-id="@Model.EntityId">Delete</a>
                }
            </small>
        }
        
    </div>
</div>