@model Clicks.Yoga.Portal.Models.Messaging.MessagingConversationPartialModel

@foreach (var message in Model.Messages)
{
    var className = "";

    if (SecurityContext.IsOwner(message.Sender))
    {
        className = "sender";
    }

    <div class="messageWrap">
        <div id="message-@message.Id" data-role="Message" class="block-section message-section @className">
            <div class="message messageSingle">
                <div class="thumbnail">
                    <a href="@Url.Entity(message.Sender)">
                        @Html.DisplayFor(m => message.Sender.Image, "ProfileThumbnail")
                    </a>
                </div>
                <div class="text">
                    <a href="@Url.Entity(message.Sender)"><strong>@message.Sender.Name</strong></a> &rarr;
                    <a href="@Url.Entity(message.Recipient)">@message.Recipient.Name</a>
                    @* DWTIMEHERE *@
                    (@Html.LocalDateTime(message.CreationTime.ToUniversalTime().ToString("u")))

                    <p>@Html.NewLines(message.Content)</p>
                </div>
            </div>
        </div>
    </div>
}