@using System.Resources
@using Clicks.Yoga.Domain.Entities
@model Clicks.Yoga.Portal.Models.Profiles.ProfileDisplayModel

@{
    ViewBag.Title = "About me";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.MenuSection = SecurityContext.IsOwner(Model.Profile) ? "My Account" : "Community";
    ViewBag.NoIndex = Model.Visible;

    var trueSelfQA = new List<string>();
    
    
    foreach (var answer in Model.Profile.ProfileAnswers)
    {
        trueSelfQA.Add(string.Format("{0} {1}. ", answer.Question.Text, answer.Text));
    }
    
    
    
    var ogTrueSelf = string.Format("{0}{1}", "True self: ", (string.Join("", trueSelfQA)));
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Profile))
    {
        @Html.Action("Navigation")
    }
    else
    {
        @Html.Action("Navigation", "Community")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Profile.Name" />
    <meta property="og:description" content="@ogTrueSelf" />
    @if (Model.Profile.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Profile.Image)" />
    }
}



<section class="nopadding hidden-sm hidden-md hidden-lg row wisdom-strip-Bottom">
    <div class="col-xs-10 nopadding">
        <header>
            <h2 class="pageTitle">
                @(!SecurityContext.IsOwner(Model.Profile) ? Html.Raw("<img src='/images/svgicons/icon_findBlue.svg' data-svgpng='/images/SvgIcons/icon_findBlue.png'/><span style='color: #1AB5E9; font-weight: normal'>Profile</span><span></span>") : Html.Raw("<img src='/images/svgicons/icon_findTeal.svg' data-svgpng='/images/SvgIcons/icon_findTeal.png' /><span style='color: #459088; font-weight: normal'>Profile</span><span></span>"))
            </h2>

        
        </header>
    </div>
    <div class="col-xs-2 nopadding">
        <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon nopadding"></span></a>
    </div>
</section>





<div class="@(SecurityContext.IsOwner(Model.Profile) ? "profile-strip-line" : "community-strip-line")"></div>



<div id="content-slider" class="row nopadding">

    <div class="col-xs-12 nopadding   @(SecurityContext.IsOwner(Model.Profile) ? "profile-strip" : "community-strip")" id=" scroll">
        <div id="page-content">
            <article id="static">

                @Html.Action("SuperUserAccessButton", "Account", new { userId = Model.Profile.OwnerId })

                @if (SecurityContext.CanUpdate(Model.Profile))
                {

                    <button class="btn btn-default btn-clear  pull-right" style="margin-bottom:5px" onclick="location.href = '@Url.Action("profile", "Signup", new { step = "2" })'; return false;">Edit Profile</button>

                }

                <h2 class="greenHeader myProfileHeader">

                    @if (Model.Profile != null)
                    {
                        <a href="@Url.Action("Display", "Profiles", new {Model.Profile.Id})">
                            @(SecurityContext.IsOwner(Model.Profile) ? Html.Raw("<img src='/images/svgicons/Icon_ProfileTeal.svg' data-svgpng='/images/SvgIcons/Icon_ProfileTeal.png'/>") : Html.Raw("<img src='/images/svgicons/Icon_ProfileBlue.svg' data-svgpng='/images/SvgIcons/Icon_ProfileBlue.png'/>"))</a>

                    }

                    @if (Model.HasTeacher)
                    {
                        <a href="@Url.Action("Display", "Teachers", new {Model.Teacher.Id})"><img src="~/images/svgicons/Icon_TeacherGrey.svg" data-svgpng="/images/SvgIcons/Icon_TeacherGrey.png" /></a>
                    }
                    @if (Model.HasVenue)
                    {
                        <a href="@Url.Action("Display", "Venues", new {Model.Venue.Id})"><img src="~/images/svgicons/Icon_VenueGrey.svg" data-svgpng="/images/SvgIcons/Icon_VenueGrey.png" /></a>
                    }
                    @if (Model.HasTTO)
                    {
                        <a href="@Url.Action("Display", "TeacherTrainingOrganisations", new {Model.TTO.Id})"><img src="~/images/svgicons/Icon_OrgGrey.svg" data-svgpng="/images/SvgIcons/Icon_OrgGrey.png" /></a>
                    }

                    <name class="hidden-xs">

                        @Html.DisplayFor(m => m.Profile.Name)

                    </name>



                </h2>
                <hr style="margin-top: 7px; margin-bottom:7px;" />


                <div class="profileBanner hidden-xs">
                    @if (SecurityContext.CanUpdate(Model.Profile))
                    {
                        if (Model.Profile.ProfileBanner.Name == null)
                        {
                            <a href='@Url.Action("profile", "Signup", new { step = "2" })'><img class="img-responsive" src="~/Images/default/profile-no-banner.jpg" /></a>
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.Profile.ProfileBanner, "ProfileBanner")
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Profile.ProfileBanner, "ProfileBanner")
                    }

                </div>



                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading hidden-xs">
                        @Html.Partial("Tabs", new { Model.Profile })


                    </div>
                    <div class="panel-body">

                        <div class="row nopadding">
    <div class="col-sm-5  profilebuttons">
        <div style="padding-bottom: 5px;" class="purpleHeader hidden-lg hidden-md hidden-sm text-center @(SecurityContext.IsOwner(Model.Profile) ? "Green-icon" : "Blue-icon")">
            @Html.DisplayFor(m => m.Profile.Name)
        </div>




        @Html.DisplayFor(m => m.Profile.Image, "ProfileImage")

        @Html.Action("Button", "Friends", new { ProfileId = Model.Profile.Id, ProfileName = Model.Profile.Name })

        @if (SecurityContext.Authenticated || SecurityContext.IsSuperUser())
                                {
            @Html.Action("SendButton", "Messaging", new { SecurityContext.CurrentProfile.Id, EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })
                                }
        @if (!SecurityContext.Authenticated)
                                {
            <a class="btn btn-clear btn-default btn-sm reg-form-popup " href="/">Send message  <i class="fa fa-comment"></i></a>
                                }
        <br /><br />


    </div>

    @if (Model.Profile.Location.Exists || Model.Profile.Websites.Count > 0)
                            {


        <div class="col-sm-7 nopadding">
            @*buisnesscard*@
            <div class="well " style="vertical-align: middle;">


                <div class="infocard">
                    <span style="font-size: 14px;"> Share : </span>
                    @Html.Action("EntityButtons", "Sharing", new {EntityId = Model.Profile.Id, Model.Profile.EntityTypeName})
                </div>

                <hr />
                <br />
                @if (Model.Profile.Location.Exists)
                                        {
                    <h3>
                        <i class="fa fa-map-marker @(SecurityContext.IsOwner(Model.Profile) ? "Green-icon" : "Blue-icon")">&nbsp;</i>

                        <span style="font-size: 18px;">   @Model.Profile.Location.Name </span>
                    </h3>
                    <br />
                                       }

                @if (Model.Visible)
                                        {
                                            if (!string.IsNullOrEmpty(Model.Profile.EmailAddress) || Model.Profile.Websites.Count > 0)
                                            {


                                                @*Epic 736:Protect our email addresses -- Remove Email Addresses*@

                                                @*@if (!string.IsNullOrEmpty(Model.Profile.EmailAddress))
                                                    {
                                                        <div class="row">
                                                            <div class="left">
                                                                <strong>Email:</strong>
                                                            </div>
                                                            <div class="right">
                                                                <a href="mailto:@Model.Profile.EmailAddress">@Model.Profile.EmailAddress</a>
                                                            </div>
                                                        </div>
                                                    }*@

                                                if (Model.Profile.Websites.Count > 0)
                                                {
                                                    <h3>
                                                        @foreach (var website in Model.Profile.Websites)
                                                        {

                                                            <i class="fa fa-globe @(SecurityContext.IsOwner(Model.Profile) ? "Green-icon" : "Blue-icon")">&nbsp;</i>
                                                            <span style="font-size: 18px;">
                                                                <a class="Websitelinks" href="@website.Url" target="_blank">@website.Url</a>
                                                            </span>
    <br />    <br />


                                                        }


                                                    </h3>
                                                }
                                            }
                                        }


                @if (!Model.Visible)
                                        {
                    <br />
                    <a class="btn btn-custom center-block  registerRevealBtn scrollTo reg-form-header" href="/"> Login or join up to see more</a>
                                        }



            </div>
        </div>
                            }
                                else
                                {
                                    <div class="col-sm-7 nopadding">
                                        @*buisnesscard*@

                                        <div class="infocard"><br />
                                            <span style="font-size: 14px;"> Share : </span>
                                            @Html.Action("EntityButtons", "Sharing", new { EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })
                                        </div>
                                    </div>
                                }
            </div>
            <div class="row nopadding">

                <div class="hidden-md hidden-lg hidden-sm">
                    @Html.Partial("Tabsmini")
                </div>

                @Html.Action("AssociatedPartialProfile", "YogaMap", new { ownerId = Model.Profile.Id, entityTypeName = "Student" })



                @Html.Action("AssociatedPartialProfile", "Galleries", new { EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })


                @if(SecurityContext.CurrentActor != null){
                if (Model.Images.Count < 1 && Model.Profile.OwnerId == SecurityContext.CurrentActor.Id)
                            {
                    <hr />
                    <div class="row nopadding">
                        <div class="col-sm-12 nopadding ">
                            <a class=" " href="@Url.Action("Galleries")">
                                <img class="img-responsive center-block" src="~/Images/default/promoted-image-placeholder.jpg" />
                            </a>
                            <br />
                        </div>
                    </div>
                            }
                }








                <table class="table table-striped">





                    @if (Model.Profile.ProfileAnswers.Count > 0)
                                {
                        <tr>
                            <td>
                                <br />
                                <div class="row nopadding">
                                    <div class=" col-sm-3 nopadding">
                                        <h4>True Self</h4>
                                    </div>
                                    <div class=" col-sm-offset-1  col-sm-8">
                                        @foreach (var answer in Model.Profile.ProfileAnswers)
                                                    {
                                            <p class="" style="margin: 10px 0 10px; font-style: italic;">
                                                <strong>@answer.Question.Text</strong><br />
                                                @answer.Text
                                            </p>
                                                    }
                                    </div>
                                </div>
                            </td>
                        </tr>
                                }
                    <tr>
                        <td>
                            <div class="row nopadding">
                                <div class=" col-xs-12 nopadding">


                                    @if (SecurityContext.CanUpdate(Model.Profile))
                                    {

                                        <button class="btn btn-default btn-clear pull-right" onclick="location.href = '@Url.Action("profile", "Signup", new { step = "2" })'; return false; ">Edit profile</button>
                                    }

                                    <br />
                                    @Html.Partial("Disclaimer", "Shared")





                                </div>

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
                    </div>
            </article>
        </div>
    </div>

                </div>
