@using System
@using Clicks.Yoga.Portal.Models.Galleries
@model Clicks.Yoga.Portal.Models.Profiles.ProfileNewsModel

@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Yoga Newsfeed – Your Freshly Pressed Yoga Gossip";
    ViewBag.Description = "Your personalised yoga newsfeed. Keep up with your favourite teachers, find out about that hot new studio, and catch all the yoga world gossip!";

    ViewBag.MenuSection = "Community";
    ViewBag.SiteSection = "'NewsFeed-visited' : 'true'";
}

@section LeftNav {
    @Html.Action("Navigation", "Community")
}

@{
    var guid = Guid.NewGuid().ToString();
}

@section Head {
    <meta property="og:title" content="Let us help you transform life’s challenges and create the life you want" />
    <meta property="og:description" content="We’ll inspire you with real life stories, inform you with proper clinical studies, and equip you with the creations of people on the same journey - clothes, malas, gifts, books..." />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}







<section class="nopadding hidden-sm hidden-md hidden-lg row wisdom-strip-Bottom">
    <div class="col-xs-10 nopadding">
        <header>
            <h2 class="pageTitle"><img src="~/images/SvgIcons/Icon_Newsfeed.svg" data-svgpng="/images/SvgIcons/Icon_Newsfeed.png" /><span style="color: #13b4ea; font-weight: normal">Newsfeed</span><span></span></h2>
        </header>
    </div>
    <div class="col-xs-2 nopadding">
        <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon nopadding"></span></a>

    </div>

</section>




<div class="community-strip-line"></div><br />



<div id="content-slider" class="content-slider">
    <div class="community-strip content-col" id="scroll">
        <div id="page-content">
            <article id="static">

                <div id="@guid" data-role="NewsContainer" data-media-preview-url="@Url.Action("PreviewPartial", "Media")">
                    <div data-role="PostContainer" class="shareSomething block-section">
                        <h3>Share something</h3>

                        <textarea spellcheck="true" data-role="PostContent" placeholder="Whats OM?!"></textarea>

                        <div data-role="PostMedia" style="margin-top: 10px;">
                            <div data-role="Entries">
                                <div data-role="UploadingTemplate" class="uploadingTemplate" style="display: none;"></div>
                            </div>
                        </div>

                        <div style="clear: both;">
                            <div class="postingAs">You are posting as <span class="current-actor-name">@SecurityContext.CurrentActor.Name</span></div>

                            <button data-role="PostButton" data-url="@Url.Action("Post", "Walls", new { Model.Profile.Wall.Id })" class="btn btn-info btn-sm pull-right ">Post</button>
                            <button data-role="AddVideoButton" data-url="@Url.Action("AddVideoModal", "Walls", new { Model.Profile.Wall.Id })" class="btn btn-default btn-clear btn-sm pull-right " style="margin-right: 5px;">Post Video</button>
                            <button data-role="UploadButton" data-url="@Url.Action("UploadImage", "Media")" id="guid-@Guid.NewGuid()" class="btn btn-default btn-clear btn-sm pull-right " style="margin-right: 5px;">Post photos</button>
                        </div>
                    </div>

                    <div data-role="Stories" data-retrieve-url="@Url.Action("StoriesPartial", "News")" id="news-stories-container">
                        @Html.Action("StoriesPartial", "News")
                    </div>
                    <div class="no-more-posts" style="display:none;">No more posts to show.</div>
                    <div class="loading-bar">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    @*<a href="javascript:void(0)" data-role="RetrieveOlderButton" class="button olderStories">Older stories</a>*@
                    <div class="facebookLogin" data-role="InvitationPopup">
                       
                              <strong>Invite your friends</strong><br /><br /><br />
                        <p>
                            Everything's better with your friends.<br />
                            Invite them to join you on YogaClicks!
                        </p>
                        @*class="facebook-friends"*@
                        <div >
                            <br />
                            @*<a href="#" class="facebookPopupClose" data-role="InviteFromFacebookButton"><img src="/images/facebook-friends.png"></a>*@

                            @*<a class="btn btn-social btn-facebook registerRevealBtn" style="display: block; width: 48%; float:left" id="fbLoginButton" href="#">
                                <i class="fa fa-facebook"></i>
                                Sign in
                            </a>*@

                            <a href="http://www.facebook.com/share.php?u=http://www.yogaclicks.com&title=Join me on YogaClicks" target="_blank" class="facebookButtonPopupClose btn-block center-block btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                                Invite Facebook friends
                            </a>
                            <button data-role="InviteByEmailButton" data-action="@Url.Action("InviteFriendsByEmail", "Invitations")" class="btn btn-block btn-default center-block btn-clear ">Invite a friend by email</button>
                           
                            
                            <br /><br />

                             <a href="#" class="text facebookPopupClose pull-right">Don't show this again</a> 
                        </div>
                        <a href="#" title="Close" class="close  pull-right facebookPopupCloseNoCookie " aria-label="Close">
                            <span aria-hidden="true">&times;</span></a>

                    </div>

                    <script>
                        $(document).ready(function () {
                            $('div.facebookLogin').yogaInvitationButtons();
                        });
                    </script>
                </div>
            </article>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#@guid').yogaNewsfeed();
    });
</script>

@section Scripts{
    <script>
        $(window).scroll(function () {
            if ($('.no-more-posts:hidden').length > 0) {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
                    if ($('.loading-bar:hidden').length > 0) {
                        $('.loading-bar').show();
                        var linkToParse = '/news/StoriesPartial?skip=555';
                        var link = linkToParse.replace("555", $('.story').length);
                        var numberOfExistingDates = $("span.localDateTime").length;
                        $.ajax({
                            url: link,
                            async: true,
                            success: function (html) {
                                if (html.length > 10) {
                                    $("#news-stories-container").append(html);
                                    $("span.localDateTime").slice(numberOfExistingDates).each(function () {
                                        toLocalDateTime($(this));
                                    });
                                } else {
                                    $('.no-more-posts').show();
                                }
                                $('.article').readmore({
                                    collapsedHeight: 90
                                });
                                $('.loading-bar').hide();
                            }
                        });
                    };
                };
            };
        });

   

    </script>
    <script src="~/Scripts/libs/readmore.min.js"></script>
    <script>
        $('.article').readmore({
            collapsedHeight:90
            });
    </script>
}
