

<ul id="nav-tabs" class="nav nav-tabs nav-justified">

    <li>
        <a id="profileNav" href="@Url.Action("Display")">
            <i class="fa fa-user navmenuIcon"></i> About me
        </a>
    </li>

    <li>
        <a id="classesNav" href="@Url.Action("Friends")">
            <i class="fa fa-link navmenuIcon"></i> My friends
        </a>

    </li>
  
    <li id="galleriesNav">
        <a href="@Url.Action("Galleries")">
            <i class="fa fa-picture-o navmenuIcon"></i> Photos
        </a>
    </li>
    <li id="galleriesNav">

        <a href="@Url.Action("Videos")">
            <i class="fa fa-video-camera navmenuIcon"></i> Videos
        </a>
    </li>
    @*<li id="ReviewNav">
        <a href="@Url.Action("Reviews")">
            <i class="fa fa-home navmenuIcon"></i> My reviews
        </a>
    </li>*@
    <li id="venueNav">

        <a href="@Url.Action("Activities")">
            <i class="fa fa-home navmenuIcon"></i> My events
        </a>

    </li>
    <li id="groupsNav">
        <a class=""
           href="@Url.Action("Groups")">
            <i class="fa fa-users navmenuIcon"></i> Groups
        </a>
    </li>
    <li id="fanNav">
        <a href="@Url.Action("Fanned")">
            <i class="fa fa-heart navmenuIcon"></i> Fan of
        </a>

    </li>
</ul>
