

<div class="well">
    <h4>Explore</h4>

    <div class="infocard">


    </div><hr /><br />
 

        <div class="row nopadding mininav">
            <div class="col-xs-4 nopadding">
                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Display")">
                    <div class="center-block text-center navmenuIconmini">

                        <i class="fa fa-user "></i><br />Profile

                    </div>
                </a>
            </div>
            <div class="col-xs-4 nopadding">
                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Friends")">
                    <div class="center-block  text-center navmenuIconmini">

                        <i class="fa fa-link "></i> <br /> My friends

                    </div>
                </a>
            </div>
            <div class="col-xs-4 nopadding">
                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Galleries")">
                    <div class=" center-block  text-center navmenuIconmini">

                        <i class="fa fa-picture-o "></i> <br />Photos

                    </div>
                </a>
            </div>
        </div>
        <div class="row nopadding mininav">
            @*<div class="col-xs-4 nopadding">
                <a style="width: 98%; margin-left: 2px; margin-right: 2px;" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Teacher) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Reviews")">
                    <div class=" center-block text-center navmenuIconmini">

                        <i class="fa fa-comments"></i> <br />Reviews

                    </div>
                </a>
            </div>*@
            <div class="col-xs-4 nopadding">
                <a style="width: 98%; margin-left: 2px; margin-right: 2px;" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Videos")">
                    <div class="center-block text-center navmenuIconmini">

                        <i class="fa fa-video-camera "></i> <br />Videos

                    </div>
                </a>
            </div>
            <div class="col-xs-4 nopadding">
                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Activities")">
                    <div class="center-block text-center navmenuIconmini">

                        <i class="fa fa-home "></i> <br />My events

                    </div>
                </a>
            </div>

            <div class="col-xs-4 nopadding">

                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Groups")">
                    <div class="center-block  text-center navmenuIconmini">

                        <i class="fa fa-users "></i> <br />Groups

                    </div>
                </a>
            </div>
        </div>
        <div class="row nopadding mininav">

            <div class="col-xs-4 nopadding">

                <a style="width: 98%; margin: 2px" class="btn btn-default btn-clear  @(SecurityContext.IsOwner(Model.Profile) ? "btn-hovercolour" : "btn-Hovercolourteacher")" href="@Url.Action("Fanned")">
                    <div class="center-block  text-center navmenuIconmini">

                        <i class="fa fa-heart "></i> <br/> Fan of

                    </div>
                </a>
            </div>


            <div style="width: 100%; margin: 2px" class="col-xs-4">&nbsp;</div>
            <div style="width: 100%; margin: 2px" class="col-xs-4">&nbsp;</div>
        </div>





    
</div>