@using System.Globalization
@model Clicks.Yoga.Portal.Models.Editors.DateTimeEditorModel

@{
    var guid = Guid.NewGuid().ToString();
    var reverse = Model.Minimum <= new DateTime(DateTime.Now.Year, 1, 1, 0, 0, 0, 0) && Model.Maximum <= DateTime.Now;
}

<div id="@guid">
    <select data-role="Day" id="@Html.IdFor(m => m.Day)" name="@Html.NameFor(m => m.Day)">
        @for (int i = 1; i <= 31; i++)
        {
            <option value="@i" selected="@(i == Model.Day)">@i</option>
        }
    </select>

    <select data-role="Month" id="@Html.IdFor(m => m.Month)" name="@Html.NameFor(m => m.Month)">
        @for (int i = 1; i <= 12; i++)
        {
            <option value="@i" selected="@(i == Model.Month)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
        }
    </select>

    <select data-role="Year" id="@Html.IdFor(m => m.Year)" name="@Html.NameFor(m => m.Year)">
        @for (int i = reverse ? Model.Maximum.Year : Model.Minimum.Year; i <= Model.Maximum.Year && i >= Model.Minimum.Year; i += (reverse ? -1 : 1))
        {
            <option value="@i" selected="@(i == Model.Year)">@i</option>
        }
    </select>

    <select id="@Html.IdFor(m => m.Hour)" name="@Html.NameFor(m => m.Hour)">
        @for (var i = 0; i < 24; i++)
        {
            <option value="@i" selected="@(i == Model.Hour)">@i.ToString("00")</option>
        }
    </select>

    <select id="@Html.IdFor(m => m.Minute)" name="@Html.NameFor(m => m.Minute)">
        @for (var i = 0; i < 60; i++)
        {
            <option value="@i" selected="@(i == Model.Minute)">@i.ToString("00")</option>
        }
    </select>
</div>

<script>
    $(function () {
        $('#@guid').yogaDatePicker();
    });
</script>
