<ul id="tabsNav">
    <li id="profileNav">@Html.ActionLink("Profile", "Display")</li>
    <li id="classesNav">@Html.ActionLink("Schedule", "Schedule")</li>
    <li id="reviewNav">@Html.ActionLink("Reviews", "Reviews")</li>
    <li id="galleriesNav">@Html.ActionLink("Photos", "Galleries")</li>
    <li id="galleriesNav">@Html.ActionLink("Videos", "Videos")</li>
    <li id="venueNav">@Html.ActionLink("Venues", "Placements")</li>
    <li id="groupsNav">@Html.ActionLink("Groups", "Groups")</li>
    <li id="fanNav">@Html.ActionLink("Fans", "Fans")</li>
</ul>


