



<ul id="nav-tabs" class="nav nav-tabs nav-justified">

    <li>
        <a id="profileNav" href="@Url.Action("Display")">
            <i class="fa fa-user navmenuIcon"></i> Profile
        </a>
    </li>

    <li>
        <a id="classesNav" href="@Url.Action("Schedule")">
            <i class="fa fa-calendar navmenuIcon"></i> Schedule
        </a>

    </li>

    <li id="galleriesNav">
        <a href="@Url.Action("Galleries")">
            <i class="fa fa-picture-o navmenuIcon"></i> Photos
        </a>
    </li>
    <li id="galleriesNav">

        <a href="@Url.Action("Videos")">
            <i class="fa fa-video-camera navmenuIcon"></i> Videos
        </a>
    </li>
    <li id="venueNav">

        <a href="@Url.Action("Placements")">
            <i class="fa fa-graduation-cap "></i> Teachers

        </a>

    </li>
    <li id="groupsNav">
        <a class=""
           href="@Url.Action("Groups")">
            <i class="fa fa-users navmenuIcon"></i> Groups
        </a>
    </li>
    <li id="fanNav">
        <a href="@Url.Action("Fans")">
            <i class="fa fa-heart navmenuIcon"></i> Fans
        </a>

    </li>
</ul>