@using Clicks.Yoga.Portal.Models.Reviews
@model Clicks.Yoga.Portal.Models.Teachers.TeacherReviewsModel

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Teacher))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("TeachersNavigation", "Search", new { Action = "Teachers" })
    }
}

@section Head {
    <meta property="og:title" content="@Model.Teacher.Name" />
    @if (Model.Teacher.Location != null)
    {
        <meta property="og:description" content="@Model.Teacher.Location.Name" />
    }
    @if (Model.Teacher.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Teacher.Image)" />
    }
}

@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Teacher.Id, Model.Teacher.EntityTypeName))


<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Teacher) ? " " : "purple-strip")" id="scroll">
        <div id="page-content">
            <article id="static">

                @Html.Action("SubjectRequestsPartial", "Notifications", new { SubjectId = Model.Teacher.Id, SubjectTypeName = Model.Teacher.EntityTypeName })

                @Html.Action("SummaryPartial", "Reviews", new { SubjectId = Model.Teacher.Id, SubjectType = Model.Teacher.EntityTypeName })

                <h2 class="purpleHeader teacherHeader"><span>&nbsp;</span>@Model.Teacher.Name</h2>

                <div class="profileBanner teacherBanner">
                    @Html.DisplayFor(m => m.Teacher.ProfileBanner, "ProfileBanner")
                </div>
                @Html.Partial("Tabs")
                <div>
                    @Html.Action("FilterableListPartial", "Reviews", new ReviewSearchCriteriaModel { SubjectId = Model.Teacher.Id, SubjectType = Model.Teacher.EntityTypeName, Title = "Reviews of " + Model.Teacher.Name })
                </div>
                <div class="meta">
                    <p>YogaClicks does not warrant that any of the teachers, venues or teacher training organisations found on our site will meet your health or medical requirements.<p>
                    <p>YogaClicks is not responsible for verifying the accreditation/registration information provided. Please check with the relevant accrediting/registering body for current status.</p>
                    <p>These listings are for information only - any reference to a third party and/or its services does not indicate our endorsement, recommendation or approval, nor does it indicate any third party's endorsement, recommendation or approval of YogaClicks.</p>
                    <br />
                </div>
            </article>
        </div>
    </div>
</div>
