@model Clicks.Yoga.Portal.Models.Medic.AddStudyModel

@{
    ViewBag.Title = "AddStudy";
    Layout = "~/Views/Layout/Modal.cshtml";
}

<div class="textiFrame">
    <h2 class="greenHeader">Add new study</h2>
    <hr class="modalHrSteps" />

    @using (Html.BeginForm("AddStudy", "Medic"))
    {
        @Html.HiddenFor(m => m.ConditionId)
        <div class="scrollableiFrame">
            <div class="add-study-container">
                @Html.ValidationSummary()

                <div class="row">
                    @Html.LabelFor(m => m.Title, "Title")
                    @Html.EditorFor(m => m.Title)
                </div>
                <div class="row">
                    @Html.Label("Therapy types")
                    <div>Yoga @Html.CheckBox("yoga")</div>
                    <div>Mindfulness @Html.CheckBox("mindfulness")</div>
                    <div>Meditation @Html.CheckBox("meditation")</div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Abstract)
                    @Html.TextAreaFor(m => m.Abstract, new { @class = "story-content-textarea" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.NumberOfCitations, "Citations")
                    @Html.EditorFor(m => m.NumberOfCitations)
                </div>
                <div class="row">
                    @Html.Label("Author")
                    @Html.TextBox("author")
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.DateOfStudy, "Date published")
                    @Html.EditorFor(m => m.DateOfStudy)
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Journal)
                    @Html.EditorFor(m => m.Journal)
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Volume, "Volume / Issue")
                    @Html.EditorFor(m => m.Volume)
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Institution, "Author's primary institution")
                    @Html.EditorFor(m => m.Institution)
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Source)
                    @Html.EditorFor(m => m.Source)
                </div>
            </div>
        </div>

        <div class="wizard-footer-buttons-container">
            <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
            <div class="wizard-footer-nav-container">
                <input class="button pink large" type="submit" value="Add new study" />
            </div>
        </div>
        <div class="cb"></div>
    }

</div>
