@using System.Globalization
@model Clicks.Yoga.Portal.Models.Search.SearchTeacherTrainingNavigationModel


@{
    var yearOptions = new List<int>();
    var monthOptions = new List<int>();

    for (var i = DateTime.Now.Year; i < DateTime.Now.Year + 10; i++)
    {
        yearOptions.Add(i);
    }

    for (var i = 1; i < 13; i++)
    {
        monthOptions.Add(i);
    }
}

<div id="navwrap">
    @Html.Partial("left-nav-menu")
    <section class="filters" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu teacher-training-sub-menu">
                <h1 class="pageTitle">Teacher training</h1>
                <div class="toggleNavWrap">
                    <h4 class="toggleNavItem @(Model.Organisations ? "open" : "")">Find an organisation <span class="down-arrow">&nbsp;</span></h4>
                    <div class="toggleReveal" style="@(Model.Organisations ? "display: block;" : "")">
                        @using (Html.BeginForm("TeacherTrainingOrganisations", "Search", FormMethod.Get))
                        {
                            <div>
                                <label>Organisation name</label>

                                @Html.TextBox("Keywords", Model.Criteria.Keywords)

                                <label>Style</label>

                                @Html.DropDownList("Style", new SelectList(Model.Styles, "Id", "Name", Model.Criteria.Style), "Please select")

                                <label>YogaMeds</label>

                                @Html.DropDownList("Condition", new SelectList(Model.Conditions, "Id", "Name", Model.Criteria.Condition), "Please select")

                                <button type="submit" class="silver button">Search</button>
                                <input type="reset" value="Clear Form" class="silver button" />
                                <a href="@Url.Action("TeacherTrainingOrganisations")" class="silver button showAllButton">Show All</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="toggleNavWrap">
                    <h4 class="toggleNavItem @(Model.Organisations ? "" : "open")">Find a course <span class="down-arrow">&nbsp;</span></h4>
                    <div class="toggleReveal" style="@(Model.Organisations ? "" : "display: block;")">
                        @using (Html.BeginForm("TeacherTrainingCourses", "Search", FormMethod.Get))
                        {
                            <label>Course name</label>

                            @Html.TextBox("Keywords", Model.Criteria.Keywords)

                            <label>Location</label>

                            @Html.TextBox("Location", Model.Criteria.Location, new { data_role = "Location", autocomplete = "off", placeholder = "You must enter a location - town, country etc." })

                            <div id="LocationSuggestions" data-role="LocationSuggestions"></div>

                            @Html.Hidden("Latitude", Model.Criteria.Latitude, new { data_role = "Latitude" })
                            @Html.Hidden("Longitude", Model.Criteria.Longitude, new { data_role = "Longitude" })
                            @Html.Hidden("Radius", Model.Criteria.Radius, new { data_role = "Radius" })

                            <label>Style</label>

                            @Html.DropDownList("Style", new SelectList(Model.Styles, "Id", "Name", Model.Criteria.Style), "Please select")

                            <label>Accreditation</label>

                            @Html.DropDownList("AccreditationBody", new SelectList(Model.Accreditations, "Id", "Name", Model.Criteria.AccreditationBody), "Please select")

                            <label>Start Date</label>

                            @Html.DropDownList("Date.Month", new SelectList(monthOptions.Select(v => new { Value = v, Text = CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(v) }), "Value", "Text", Model.Criteria.Date.Month), "Please select")
                            @Html.DropDownList("Date.Year", new SelectList(yearOptions.Select(v => new { Value = v, Text = v }), "Value", "Text", Model.Criteria.Date.Year), "Please select")

                            <button type="submit" class="silver button" data-role="SearchSubmit">Search</button>
                            <input type="reset" value="Clear Form" class="silver button" />
                            <a href="@Url.Action("TeacherTrainingCourses")" class="silver button showAllButton">Show All</a>
                            <br /><br /><br /><br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        $('#navwrap').yogaLocationPicker({ autocode: true });
    });
</script>