<div id="navwrap">
    @Html.Partial("left-nav-menu")
    <section class="filters" id="filter-results">
        <div id="filter-wrap">
            <div class="the-sub-menu">
                <nav class="filter">
                    <h3>Quick links</h3>
			        <a href="@Url.Action("our-story", "static")">Our story</a>
                    <a href="@Url.Action("manifesto", "static")">Manifesto</a>
			        <a href="@Url.Action("privacy-policy", "static")">Privacy</a>
			        <a href="@Url.Action("terms-of-use", "static")">Terms of use</a>
                </nav>
            </div>
        </div>
    </section>
</div>
