@model Clicks.Yoga.Portal.Models.Entities.NewsStoryModel

<div class="wallPost friendAddedPhotos">
    <div class="wallPostIcon hidden-xs" >
        <img src="~/images/SvgIcons/Icon_GroupsBlue.svg" data-svgpng="/images/SvgIcons/Icon_GroupsBlue.png" />
    </div>
    <div class="content">
        @Html.Action("GalleryPartial", new { StoryId = Model.Id })

        @if (!Model.IsShared)
        {
            <br />

            <div>
                @Html.Partial("ShareButtonPartial", Model)
            </div>
        }
        
        <div class="news-fan-container">
            @Html.Action("Button", "Fans", new { EntityId = Model.Id, entityTypeName = Model.EntityTypeName, newsfeed = true })
        </div>

        @if (!Model.IsShared)
        {
            <small>
                @* DWTIMEHERE *@
                @Html.LocalDateTime(@Model.CreationTime.ToUniversalTime().ToString("u"))

                @if (Model.EntityId > 0 && SecurityContext.IsOwner(Model.Subject))
                {
                    <a href="javascript:void(0)" data-role="DeletePostButton" data-url="@Url.Action("DeletePost")" data-post-id="@Model.EntityId">Delete</a>
                }
            </small>
        }
    </div>
</div>