<ul id="tabsNav">
    <li class="aboutMe">@Html.ActionLink("About me", "Display")</li>
    <li class="myFriends">@Html.ActionLink("My friends", "Friends")</li>
    <li class="galleries">@Html.ActionLink("Photos", "Galleries")</li>
    <li class="videos">@Html.ActionLink("Videos", "Videos")</li>
    <li class="myReviews">@Html.ActionLink("My reviews", "Reviews")</li>
    <li class="myActivity">@Html.ActionLink("My events", "Activities")</li>
    <li class="fanOf">@Html.ActionLink("Fan of", "Fanned")</li>
    <li class="group">@Html.ActionLink("Groups", "Groups")</li>
</ul>

