@model Clicks.Yoga.Portal.Models.Profiles.ProfileImageUpdateModel

<div>
    @Html.ValidationSummary()
</div>
<p>Add your own avatar image</p>

@using (Html.BeginForm("UpdateProfileImage", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data", id = "update-profile-image-form" }))
{
    @Html.HiddenFor(m => m.ProfileId)

    <div id="profileImage" class="left-col fl profile-pic-wrap">
        @Html.HiddenFor(m => m.Image.ImageCrop.XCoord)
        @Html.HiddenFor(m => m.Image.ImageCrop.YCoord)
        @Html.HiddenFor(m => m.Image.ImageCrop.Width)
        @Html.HiddenFor(m => m.Image.ImageCrop.Height)
        @Html.EditorFor(m => m.Image)
    </div>
}