@model Clicks.Yoga.Portal.Models.Profiles.ProfileVideosModel

@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Videos";
    ViewBag.MenuSection = SecurityContext.IsOwner(Model.Profile) ? "My Account" : "Community";
    ViewBag.PageParent = "galleries";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Profile))
    {
        @Html.Action("Navigation")
    }
    else
    {
        @Html.Action("Navigation", "Community")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Profile.Name" />
    @if (Model.Profile.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Profile.Image)" />
    }
}

<div id="content-slider" class="content-slider">
    <div class="content-col @(SecurityContext.IsOwner(Model.Profile) ? "profile-strip" : "community-strip") @ViewBag.PageParent" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="greenHeader myProfileHeader"><span>&nbsp;</span>@Model.Profile.Name</h2>

                <div class="profileBanner">
                    @Html.DisplayFor(m => m.Profile.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Partial("Tabs", new { Model.Profile })

                @Html.Action("AssociatedVideosPartial", "Galleries", new { EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })
            </article>
        </div>
    </div>
</div>
