@using Clicks.Yoga.Portal.Models.StyleOrganisations
@model Clicks.Yoga.Portal.Models.StyleOrganisations.OrganisationCreateStep2Model

@{
    Layout = "~/Views/Layout/Modal.cshtml";
}

@using (Html.BeginForm("CreateStep2", "StyleOrganisations"))
{
    @Html.Serialize("CreateModel", ViewBag.CreateModel as OrganisationCreateModel)

    <h2 class="greenHeader">Create your Style Organisation page</h2>
    <hr class="modalHrSteps">
    <ul class="steps steps3">
        <li><span>Step 1</span></li>
        <li class="active"><span>Step 2</span></li>
        <li><span>Step 3</span></li>
    </ul>
    <div class="scrollableiFrame">
        @Html.ValidationSummary()
        <div class="clearRow locationRow">
            <div class="fullWidth">
                @Html.LabelFor(m => m.Location, "HQ location")
                @Html.EditorFor(m => m.Location)
            </div> 
        </div>
    
        <div class="clearRow">
            <div class="halfWidth">
                @Html.LabelFor(m => m.Website, "Websites / social media (copy & paste full URL)")
                @Html.EditorFor(m => m.Website)
            </div> 
        </div>
    
        <div class="clearRow">
            <div class="halfWidth">
                @Html.LabelFor(m => m.Telephone, "Telephone")
                @Html.EditorFor(m => m.Telephone)
            </div> 
        </div>
    
        <div class="clearRow">
            <div class="halfWidth">
                @Html.LabelFor(m => m.EmailAddress, "Email")
                @Html.EditorFor(m => m.EmailAddress)
            </div> 
        </div>
    </div>
    
    <div class="wizard-footer-buttons-container">
        <a href="javascript:parent.$.fancybox.close();" class="textLink fl">Cancel</a>
        <div class="wizard-footer-nav-container">
            <a href="#" id="BackButton" class="button pink large backBtn">Back</a>
            <input class="button pink large" type="submit" value="Next" />
        </div>
    </div>
    <div class="cb"></div>
    
    @Html.HiddenFor(m => m.Back)
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#BackButton").click(function(e) {
            e.preventDefault();
            $("#@Html.IdFor(m => m.Back)").val('@bool.TrueString');
            $(this).closest("form").submit();
        });
    });
</script>