@model Clicks.Yoga.Portal.Models.StyleOrganisations.OrganisationGroupsModel

@{
    ViewBag.Title = @Model.Organisation.Name;
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Organisation))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("Navigation")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Organisation.Name" />
    <meta property="og:description" content="@Model.Organisation.Description" />
    <meta property="og:image" content="@Html.ImageUrl(Model.Organisation.Image)" />
}

@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Organisation.Id, Model.Organisation.EntityTypeName))

<div id="content-slider">
    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Organisation) ? "" : "purple-strip")" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="greenHeader styleOrganisationHeader"><span>&nbsp;</span>@Model.Organisation.Name</h2>
                <hr />
                <div class="shareRecommendSection">
                    <div class="fr">
                        <span>Share: </span>
                        @Html.Action("EntityButtons", "Sharing", new { EntityId = Model.Organisation.Id, Model.Organisation.EntityTypeName })
                    </div>
                </div>
                <div class="profileBanner styleBanner">
                    @Html.DisplayFor(m => m.Organisation.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Partial("Tabs")

                @Html.Action("ProfessionalPartial", "Groups", new { EntityId = Model.Organisation.Id, Model.Organisation.EntityTypeName })

                <div class="meta">
                    <p>These listings are for information only - any reference to a third party and/or its services does not indicate our endorsement, recommendation or approval, nor does it indicate any third party's endorsement, recommendation or approval of YogaClicks.</p>
                </div>
            </article>
        </div>
    </div>
</div>
