@model Clicks.Yoga.Portal.Models.TeacherTrainingOrganisations.OrganisationDetailsUpdateModel

@using (Html.BeginForm("UpdateDetails", "TeacherTrainingOrganisations", FormMethod.Post, new { enctype = "multipart/form-data", id = "update-details-form" }))
{
    @Html.HiddenFor(m => m.EntityId)
    
    @Html.LabelFor(m => m.Name, "Organisation name")
    @Html.EditorFor(m => m.Name)

    @Html.LabelFor(m => m.Founder)
    @Html.EditorFor(m => m.Founder)

    @Html.LabelFor(m => m.EmailAddress, "Email")
    @Html.EditorFor(m => m.EmailAddress)

    @Html.LabelFor(m => m.Website)
    @Html.EditorFor(m => m.Website)

    <div>
        <span class="profile-details-saved-text">Changes Saved</span>
        <button type="submit" class="button save fr">
            Save changes &nbsp;
            <img src="/images/icon-save.png">
        </button>
    </div>
}