<ul id="tabsNav">
    <li>@Html.ActionLink("Profile", "Display")</li>
    <li id="classesNav">@Html.ActionLink("Schedule", "Schedule")</li>
    <li>@Html.ActionLink("Reviews", "Reviews")</li>
    <li id="galleriesNav">@Html.ActionLink("Photos", "Galleries")</li>
    <li id="galleriesNav">@Html.ActionLink("Videos", "Videos")</li>
    <li>@Html.ActionLink("Teachers", "Placements")</li>
    <li>@Html.ActionLink("Groups", "Groups")</li>
    <li>@Html.ActionLink("Fans", "Fans")</li>
</ul>