@model Clicks.Yoga.Portal.Models.Activities.ActivityWallModel

@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Page = "wall";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Activity))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("Navigation")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Activity.Name" />
    @if (!string.IsNullOrEmpty(Model.Activity.Description))
    {
        <meta property="og:description" content="@Model.Activity.Description" />
    }
    else
    {
        <meta property="og:description" content=" " />
    }
    @if (Model.Activity.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Activity.Image)" />
    }
}

<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Activity) ? "" : "purple-strip")  @ViewBag.Page" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="greenHeader activitiesHeader"><span>&nbsp;</span>@Model.Activity.Type.Name: @Model.Activity.Name</h2>

                <div class="profileBanner activityBanner">
                    @Html.DisplayFor(m => m.Activity.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Action("Tabs")
                
                @Html.Action("WallPartial", "Walls", new { Model.Activity.Wall.Id })
            </article>
        </div>
    </div>
</div>