@model Clicks.Yoga.Portal.Models.Poses.PoseIndexModel

@{
    ViewBag.Title = "90 + Yoga Poses or Asana, Beginners to Advanced";
    ViewBag.Description = "Looking for yoga poses? Let us be your guide. Basic or advanced, seated, standing or kneeling, for back pain or weight loss, we’ll help you work it out.";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.MenuSection = "Practice";
}

@section Head {
    <meta property="og:title" content="Uttanasana or Utkatasana? Never strike out again at YogaClicks" />
    <meta property="og:description" content="We've detailed 100+ poses - why we love them, how to do them and more at YogaClicks. Search by name, level or category" />
    <meta property="og:image" content="http://www.yogaclicks.com/images/global/facebookshare-Generic.png" />
}

@section Scripts{
    <script type="text/javascript">
        $(document).on("keypress", "#posesearch .search-term", function (e) {
            if (e.keyCode == 13) {
                $('#posesearch').submit();
            }
        });
        $(document).ready(function() {

            $("#Innercontent").css('min-width', '99%');
            resizeDiv(true);
        });
        $("#mini-close").click(function () {
            $(".posepopuptitle").hide();

        });
    </script>
}

@section LeftNav{
    @Html.Partial("IndexNavigation")
}






<section class="nopadding hidden-sm hidden-md hidden-lg row wisdom-strip-Bottom">
    <div class="col-xs-10 nopadding">
        <header>
            <h2 class="pageTitle"><img src="~/images/SvgIcons/icon_practice.svg" data-svgpng="/images/SvgIcons/icon_practice.png" /><span style="color: #ec2c82; font-weight: normal">Styles & Poses</span><span> - Pose finder</span></h2>
        </header>
    </div>
    <div class="col-xs-2 nopadding">
        <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon nopadding"></span></a>

    </div>

</section>




<div class="practice-strip "></div><br />








<div id="content-slider" class="content-slider">
    <div class="content-col " id="scroll">

        @foreach (var category in Model.Categories)
        {
            if (category.Count == 0 || (Model.CategoryId.HasValue && Model.CategoryId.Value != category.Id) || Model.Poses.All(p => p.CategoryId != category.Id))
            {
                continue;
            }

            <section class="pose-group">
                <header class="discipline">
                    <h2>@category.Name</h2>
                </header>
                @foreach (var pose in Model.Poses.Where(p => p.CategoryId == category.Id))
                {
                    <article class="pose">
                        @*<div>
                                            &copy; YogaClicks @DateTime.Today.Year
                                             </div>*@
                        <a href="@Url.Action("display", new {id = pose.Id})" class=" thumbnail">


                          @Html.Image(pose.Image, null, i => i.Resize(c => c.Width(266).Height(192).ScaleBoth().Crop()))
                        

                            @*@Html.Image(pose.ThumbImage, null, pose.EnglishName + " - " + pose.SanskritName)*@
                        </a>
                        <h3>@pose.EnglishName</h3>
                        <p>@pose.SanskritName</p>
                    </article>
                }
            </section>
        }<br/><br/>
        @Html.Partial("Disclaimer", "Shared")


    </div>
</div>

<article class="advertResult posepopuptitle hidden-sm hidden-xs">



    <img class="img-responsive" style="left:-18px;position:relative" src="/Images/What-you-can-do/pose_popup.png"><span id="mini-close" title="Close" class="close pull-right" style="  margin-top: -225px;margin-right:22px;" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    <br /><strong>Click on the pose to add your picture</strong><br />


</article>
