@using Clicks.Yoga.Portal.Models.Reviews
@model Clicks.Yoga.Portal.Models.TeacherTrainingOrganisations.OrganisationReviewsModel

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav
{
    @if (SecurityContext.IsOwner(Model.Organisation))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("TeacherTrainingNavigation", "Search")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Organisation.Name" />
    @if (Model.Organisation.Address != null)
    {
        <meta property="og:description" content="@Model.Organisation.Address.CompleteString" />
    }
    @if (Model.Organisation.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Organisation.Image)" />
    }
}

@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Organisation.Id, Model.Organisation.EntityTypeName))

<div id="content-slider" class="content-slider">
    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Organisation) ? " " : "purple-strip")" id="scroll">
        <div id="page-content">
            <article id="static">
                @Html.Action("SubjectRequestsPartial", "Notifications", new { SubjectId = Model.Organisation.Id, SubjectTypeName = Model.Organisation.EntityTypeName })

                @Html.Action("SummaryPartial", "Reviews", new { SubjectId = Model.Organisation.Id, SubjectType = Model.Organisation.EntityTypeName })

                <h1 class="teacherOrganisationHeader pageTitle"><span>&nbsp;</span>@Model.Organisation.Name</h1>
                <div class="profileBanner teacherOrganisationBanner">
                    @Html.DisplayFor(m => m.Organisation.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Partial("Tabs")
                @Html.Action("FilterableListPartial", "Reviews", new ReviewSearchCriteriaModel { SubjectId = Model.Organisation.Id, SubjectType = Model.Organisation.EntityTypeName, Title = "Reviews of " + Model.Organisation.Name })
                <div class="meta">
                    <p>These listings are for information only - any reference to a third party and/or its services does not indicate our endorsement, recommendation or approval, nor does it indicate any third party's endorsement, recommendation or approval of YogaClicks.</p>
                </div>
            </article>
        </div>
    </div>
</div>


