@model Clicks.Yoga.Portal.Models.StyleOrganisations.OrganisationUpdateModel

@{
    ViewBag.Title = "Edit style organisation";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Organisation))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("Navigation")
    }
}

@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Organisation.Id, Model.Organisation.EntityTypeName))

<div id="content-slider" role="content-slider">
    <div class="profile-strip content-col" id="scroll">
        <div id="page-content">
            <article id="static">
                @using (Html.BeginForm("Update", "StyleOrganisations", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <h2 class="greenHeader styleOrganisationHeader"><span>&nbsp;</span>Edit style organisation profile</h2>
                    <div>
                        @Html.ValidationSummary()
                    </div>
                    @Html.Partial("Tabs")
                    <div class="personalProfileHeader">
                        <h3 class="fl">Organisation profile</h3>
                        <button class="button save fr" type="submit">Save Changes <img src="/images/icon-save.png"></button>
                    </div>
                   
                    <div id="File">
                        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.XCoord)
                        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.YCoord)
                        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.Width)
                        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.Height)
                        @Html.EditorFor(m => m.ProfileBanner)
                    </div>
                
                    <div id="cropfancybox" style="display: none">
                        <div id="upload-cut">
                            <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Images/empty.png")" />
                        </div>
                    </div>

                   

                    <div class="block-section">
                        <h3>Organisation details</h3>
                        <div class="left-col fl">
                            <div id="profileImage" class="left-col fl profile-pic-wrap">
                            @Html.HiddenFor(m => m.Image.ImageCrop.XCoord)
                            @Html.HiddenFor(m => m.Image.ImageCrop.YCoord)
                            @Html.HiddenFor(m => m.Image.ImageCrop.Width)
                            @Html.HiddenFor(m => m.Image.ImageCrop.Height)
                            @Html.EditorFor(m => m.Image)
                        </div>
                        </div>
                        <div class="right-col fr">
                            <div>
                                @Html.LabelFor(m => m.Name)
                                @Html.EditorFor(m => m.Name)
                            </div>
                    
                            <div>
                                @Html.LabelFor(m => m.Style)
                                @Html.EditorFor(m => m.Style)
                            </div>
                    
                            <div>
                                @Html.LabelFor(m => m.Founder, "Founded by")
                                @Html.EditorFor(m => m.Founder)
                            </div>
 
                            <div>
                                @Html.LabelFor(m => m.FoundedYear, "Year founded")
                                @Html.DropDownListFor(m => m.FoundedYear, Model.FoundedYearOptions.Select(x => new SelectListItem { Value = Convert.ToString(x), Text = Convert.ToString(x) }), "")
                            </div>
                    
                            <div>
                                @Html.LabelFor(m => m.Telephone, "Telephone")
                                @Html.EditorFor(m => m.Telephone)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.EmailAddress, "Email")
                                @Html.EditorFor(m => m.EmailAddress)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.Website, "Website/blog")
                                @Html.EditorFor(m => m.Website)
                            </div> 
                            
                            </div>
                         </div>  
                        <div class="block-section">
                            <div>
                                @Html.LabelFor(m => m.Location, "HQ location")
                                @Html.EditorFor(m => m.Location)
                            </div>   
                        </div>
                        <div class="block-section full-width-textarea-wrap">
                            <div>
                                @Html.LabelFor(m => m.Description, "About")
                                @Html.TextAreaFor(m => m.Description)
                            </div>   
                        </div> 
                        <div class="block-section full-width-textarea-wrap">
                            <div>
                                @Html.LabelFor(m => m.Affiliations, "Affliations and associations")
                                @Html.TextAreaFor(m => m.Affiliations)
                            </div>
                        </div>
                    <span class="fl profileDelete button blockButton">
                        <span>&nbsp;</span>
                        @Html.Action("DeleteButton", "Profiles", new { entityId = Model.Organisation.Id, Model.Organisation.EntityTypeName, securable = Model.Organisation })
                    </span>
                    <button class="button save fr" type="submit">Save Changes <img src="/images/icon-save.png"></button>
                }
            </article>
        </div>
    </div>
</div>
