@model Clicks.Yoga.Portal.Models.Activities.ActivityClassSummaryPartialModel
<p>@if (Model.Styles.Any())
   {
       <strong>Style</strong>
   }
    @Html.Raw(string.Join(", ", Model.Styles.Select(s => Html.ActionLink(s.Name, "Display", "Styles", new { s.Id }, new { target = "_blank" }))))
</p>
    
<p>
    @*@if (Model.Styles.Any())
    {
        <strong>Style</strong>
        @Model.Styles.First().Name@:,
    foreach (var style in Model.Styles.Skip(1))
    {
        @:,@style.Name
    }
    <span>&nbsp;</span>
    }*@
    @if (Model.Activity.AbilityLevel != null)
    {
        <strong>Level</strong>
        @Model.Activity.AbilityLevel.Name <br />
    }

    @if (Model.Conditions.Any())
    {
        <strong>Condition</strong>
        var i = 1;
        foreach (var condition in Model.Conditions)
        {

            if (Model.Conditions.Count > i){ @condition.Name<span>, </span> }
            else{ @condition.Name }

            i++;
        }
        <span>&nbsp;</span>
    }

    @if (!string.IsNullOrEmpty(Model.Activity.Description))
    {
    <p>
        @Html.NewLines(Model.Activity.Description)
    </p>
    }
  <br />
    <a class="pull-right btn btn-clear btn-default  btn-block" href="@Url.Action("Display", "Activities", new { Model.Activity.Id })">More info</a>
<br /><br />


</p>