@model Clicks.Yoga.Portal.Models.Activities.ActivityProfessionalsModel

@{
    ViewBag.Title = "Professionals";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Activity))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("Navigation")
    }
}

@{
    var guid = Guid.NewGuid().ToString();
}

@section Head {
    <meta property="og:title" content="@Model.Activity.Name" />
    @if (!string.IsNullOrEmpty(Model.Activity.Description))
    {
        <meta property="og:description" content="@Model.Activity.Description" />
    }
    else
    {
        <meta property="og:description" content=" " />
    }
    @if (Model.Activity.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Activity.Image)" />
    }
}






<section class="nopadding hidden-sm hidden-md hidden-lg row wisdom-strip-Bottom">
    <div class="col-xs-10 nopadding">
        <header>
            <h2 class="pageTitle"><img src="~/images/svgicons/icon_find.svg" data-svgpng="/images/SvgIcons/icon_find.png" /><span style="color: #786EA1; font-weight: normal">Classes</span></h2>
        </header>
    </div>
    <div class="col-xs-2 nopadding">
        <a href="#" id="right-menu" class="pull-right" title="Filter menu"><span class="glyphicon glyphicon-filter filter-icon nopadding"></span></a>

    </div>

</section>





<div class="profile-strip-line @(SecurityContext.IsOwner(Model.Activity) ? "" : "purple-strip")  @ViewBag.Page"></div>





<div id="content-slider" class="row nopadding">

    <div class="col-xs-12 nopadding  profile-strip @(SecurityContext.IsOwner(Model.Activity) ? "" : "purple-strip")  @ViewBag.Page" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="greenHeader activitiesHeader">
                    <img src="~/images/svgicons/Icon_CalendarPurple.svg" data-svgpng="/images/SvgIcons/Icon_CalendarPurple.png" />

                    @Model.Activity.Name

                </h2>


                <hr style="margin-top: 7px; margin-bottom:7px;" />







                <div class="profileBanner activityBanner">
                    @Html.DisplayFor(m => m.Activity.ProfileBanner, "ProfileBanner")
                </div>


                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading hidden-xs">



                        @Html.Action("Tabs")


                    </div>
                    <div class="panel-body">

                        <div class="row nopadding">
                            <div class=" col-xs-12 nopadding">

                                <div class="well">
                                    <h4>Teacher</h4>

                                    <div class="infocard">


                                    </div><hr /><br />

                                    @if (SecurityContext.CanUpdate(Model.Activity))
                                    {
                                        <div class="professionalsAddTeacherButtonWrap">
                                            <a href="javascript:openModal('@Url.Action("AddTeacher")')" class="btn clear btn-default pull-right">Add Teacher</a>
                                        </div>
                                    }
                                    <div>
                                        @if (Model.Teachers.Count > 0)
                                        {
                                            <div id="@guid" class="attendingWrap professionalWrap blockedUserWrap">
                                                @foreach (var association in Model.Teachers)
                                                {
                                                    if (association.Confirmed || SecurityContext.CanUpdateAny(Model.Activity, association.Teacher))
                                                    {
                                                        <div data-role="Teacher" class="attendee member">
                                                            <div class="fl image">
                                                                <a href="@Url.Action("Display", "Teachers", new { id = association.Teacher.Id })">
                                                                    <!--@Html.Image(association.Teacher.Image, i => i.Resize(c => c.Width(68).Height(77).ScaleBoth().Crop())) -->
                                                                    @Html.DisplayFor(m => association.Teacher.Image, "ProfileImage", new { Width = 100, Height = 100 })
                                                                </a>
                                                            </div>
                                                            <div class="fl info">
                                                                <a href="@Url.Action("Display", "Teachers", new { id = association.Teacher.Id })">
                                                                    <span class="name">
                                                                        <strong>@association.Teacher.Name</strong>
                                                                    </span>
                                                                </a>
                                                                @if (SecurityContext.Authenticated)
                                                                {
                                                                    if (SecurityContext.CanUpdateAny(Model.Activity, association.Teacher))
                                                                    {
                                                                        <br />
                                                                        <a href="javascript:void(0)" data-role="RemoveTeacherButton" data-activity-id="@Model.Activity.Id" data-teacher-id="@association.Teacher.Id" class="button silver removeTeacherButton">Remove</a>
                                                                    }
                                                                }
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>


                                </div>



                              


                                <div class="hidden-md hidden-lg hidden-sm">
                                    @Html.Action("Tabsmini")
                                </div>
                                <br />
                                @Html.Partial("Disclaimer", "Shared")





                            </div>
                        

                           
                        
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<script>
    $(function () {
        var $container = $('#@guid');

        $container.on('click', 'a[data-role=RemoveTeacherButton]', function () {
            var $this = $(this);
            var activityId = $this.attr('data-activity-id');
            var teacherId = $this.attr('data-teacher-id');

            if (!window.confirm("Are you sure you wish to remove this teacher?"))
                return;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveTeacher")',
                data: { id: activityId, teacherId: teacherId },
                success: function () {
                    $this.closest('[data-role=Teacher]').remove();
                }
            });
        });
    });
</script>