@model Clicks.Yoga.Portal.Models.Activities.ActivitiesBannerUpdateModel

@using (Html.BeginForm("UpdateBanner", "activities", FormMethod.Post, new { enctype = "multipart/form-data", id = "update-banner-form" }))
{
    @Html.HiddenFor(m => m.ActivityId)
    <div id="File">
        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.XCoord)
        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.YCoord)
        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.Width)
        @Html.HiddenFor(m => m.ProfileBanner.ImageCrop.Height)
        @Html.EditorFor(m => m.ProfileBanner)
    </div>
}