@using Clicks.Yoga.Data.Search
@model Clicks.Yoga.Portal.Models.Styles.StyleDisplayModel

@{
    ViewBag.Title = Model.Style.Name + "";
    if (Model.Style.Name.ToLower().Contains("yoga"))
     {
         ViewBag.Description = "We define " + Model.Style.Name + " and help you find " + Model.Style.Name + " classes, teachers, studios, retreats and teacher training.";
     }
     else
     {
         ViewBag.Description = "We define " + Model.Style.Name + " yoga and help you find " + Model.Style.Name + " yoga classes, teachers, studios, retreats and teacher training.";
     }
        
    
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.MenuSection = "Practice";
}

@section LeftNav{
    @Html.Action("Navigation", "Styles")
}

@section Head {
    <meta property="og:title" content="@Model.Style.Name" />
    <meta property="og:description" content="@Model.Style.Description" />
    <meta property="og:image" content="@Html.ImageUrl(Model.Style.Image)" />
}
<div id="content-slider" role="content-slider">
    <div class="practice-strip content-col" id="scroll">
        <section id="style-info" role="style-info">
            <article id="description" class="profile-slide clearfix rating-description">
                @{
                    var location = Session["Styles.Last"] == null ? Url.Action("Directory", "Styles") : Session["Styles.Last"].ToString();
                }

                <a href="@location" class="back fr"><img src="/images/buttons/back.gif" alt="back" width="24" height="24"> Back</a><h1 class="pinkHeader"><span>&nbsp;</span>@Model.Style.Name</h1>

                <div class="shareRecommendSection">

                    <div class="fr">
                        <span>Share: </span>
                        @Html.Action("EntityButtons", "Sharing", new { EntityId = Model.Style.Id, Model.Style.EntityTypeName })
                    </div>
                </div>

                <div class="imgtxt imgScale" style="margin-left:0;">
                    @Html.Image(Model.Style.Image, i => i.Resize(c => c.Width(715).ScaleBoth()), Model.Style.Name)
                    @if (!string.IsNullOrEmpty(Model.Style.ImageCourtesyOf))
                    {
                        <span>@Model.Style.ImageCourtesyOf</span>
                    }
                </div>



                @if (Model.Style.FoundingTime != "" || Model.Style.Founder != "")
                {
                    <div class="leftCol">
                        <div class="block-section">
                            @if (Model.Style.Founder != "")
                            {
                                <h4>Founded by</h4>
                                <p>@Model.Style.Founder</p>
                            }
                            @if (Model.Style.FoundingTime != "")
                            {
                                <h4>Founded in</h4>
                                <p>@Model.Style.FoundingTime</p>
                            }
                            <p></p>
                        </div>
                        @Html.Action("Button", "Fans", new { EntityId = Model.Style.Id, Model.Style.EntityTypeName })
                    </div>
                }
                else
                {
                    <div class="leftCol">
                        @Html.Action("Button", "Fans", new { EntityId = Model.Style.Id, Model.Style.EntityTypeName })
                    </div>
                }

                <div class="rightCol">
                    <div class="block-section styleType">
                        <div class="left">
                            <h4>Style</h4>
                        </div>
                        <div class="right">
                            @Model.Style.Name
                        </div>
                    </div>
                    <hr />
                    <div class="left">
                        <h4>About</h4>
                    </div>
                    <div class="right">
                        <p>@Html.Raw(Model.Style.Description)</p>
                    </div>
                    <hr />
                    <div class="left">
                        <h4>Traits</h4>
                    </div>
                    <ul class="right">
                        @foreach (var trait in Model.Style.Traits)
                        {
                            <li>
                                <a href="/styles/selecttrait?traitId=@trait.Id">
                                    @trait.Name
                                </a>
                            </li>
                        }
                    </ul>
                    <hr />
                    <div class="left discoverLeft">
                        <h4>Find</h4>
                        <p><small>Use these buttons to find teachers, venues and teacher training in this style</small></p>
                    </div>
                    <div class="right discoverButtons">
                        <button style="display:block; margin:0 0 5px 0" class="button discoverPanel teachersButton" onclick="location.href = '/search/teachers?style=@Model.Style.Id'; return false">Teachers<span>&nbsp;</span></button>
                        <button style="display:block; margin:0 0 5px 0" class="button discoverPanel venuesButton" onclick="location.href = '/search/venues?style=@Model.Style.Id'; return false">Venues<span>&nbsp;</span></button>
                        <button style="display:block; margin:0 0 5px 0" class="button discoverPanel teacherTrainingButton" onclick="location.href = '/search/teachertrainingorganisations?style=@Model.Style.Id'; return false">Teacher training<span>&nbsp;</span></button>
                    </div>
                    <div class="meta">
                        <p>YogaClicks does not warrant that any of the teachers, venues or teacher training organisations found on our site will meet your health or medical requirements.<p>
                        <p>YogaClicks is not responsible for verifying the accreditation/registration information provided. Please check with the relevant accrediting/registering body for current status.</p>
                        <p>These listings are for information only - any reference to a third party and/or its services does not indicate our endorsement, recommendation or approval, nor does it indicate any third party's endorsement, recommendation or approval of YogaClicks.</p>
                        <br />
                    </div>
                </div>
            </article>
        </section>
        <!--section role="images">
            <img src="images/misc/sample-image.jpg" alt="sample-image" />
            <img src="images/misc/sample-image.jpg" alt="sample-image" />
            <img src="images/misc/sample-image.jpg" alt="sample-image" />
        </section-->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".toggle-traits").click(function (e) {

            e.preventDefault();

            var div = $(this).parent().next(".trait-box");

            if ($(this).data("visible"))
                $(div).slideUp();
            else
                $(div).slideDown();

            $(this).data("visible", !$(this).data("visible"));
        });
    });
</script>

@section Scripts{
    @{
        var prImage = Model.Style.Image != null ? string.Format("http://cdn.yogaclicks.com/images/yogaimages/{0}", Model.Style.Image.Uri) : "http://www.yogaclicks.com/images/global/logo.png";
    }
    <script>
        $('.facebook-link-div').html('&title=' + '@Model.Style.Name');
        $('.twitter-link-div').html('&text=Find yoga style ' + '@Model.Style.Name' + ' on YogaClicks');
        $('.pintrest-link-div').html('&description=Find yoga style ' + '@Model.Style.Name' + ' on YogaClicks&media=' + '@prImage');
    </script>
}