@using Clicks.Yoga.Portal.Models.Venues
@model Clicks.Yoga.Portal.Models.Venues.VenueUpdateModel

@{
    ViewBag.Title = "Edit venue profile";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Venue))
    {
        @Html.Action("Navigation", "Profiles", new { SecurityContext.CurrentProfile.Id })
    }
    else
    {
        @Html.Action("VenuesNavigation", "Search")
    }
}

@Html.Partial("ActivateProfileLinkPartial", new Clicks.Yoga.Portal.Models.Shared.ActivateProfileLinkPartialModel(Model.Venue.Id, Model.Venue.EntityTypeName))

<div id="content-slider" class="content-slider">

    <div class="profile-strip content-col @(SecurityContext.IsOwner(Model.Venue) ? " " : "purple-strip")" id="scroll">
        <div id="page-content">
            <article id="static">
                <h2 class="venueHeader"><span>&nbsp;</span>Edit venue profile
                    <button class="button fr save back-to-profile" onclick="location.href = '@Url.Action("Display")'; return false;">Back To Profile</button>
                </h2>
                @Html.Partial("Tabs")

                <div>
                    <h3 class="fl">Venue profile</h3>
                </div>

                @Html.Partial("UpdateBanner",
                    new VenueBannerUpdateModel
                    {
                        ProfileBanner = Model.ProfileBanner,
                        VenueId = Model.Venue.Id
                    })

                <div id="cropfancybox" style="display: none">
                    <div id="upload-cut">
                        <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Images/empty.png")" />
                    </div>
                </div>

                <div class="block-section">
                    <h3>Details</h3>
                    <div class="left-col fl venueAvatar">
                        @Html.Partial("UpdateImage", new VenueImageUpdateModel
                    {
                        Image = Model.Image,
                        VenueId = Model.Venue.Id
                    })
                    </div>
                    <div class="right-col fr">
                        @Html.Action("UpdateDetails")
                    </div>
                </div>

                <div class="block-section newsletter-section">
                    @Html.Partial("UpdateNewsLetterOpt", new VenueNewsletterOptUpdateModel
                    {
                        NewsletterOptOut = Model.NewsletterOptOut,
                        VenueId = Model.Venue.Id
                    })
                </div>

                <div class="block-section">
                    @Html.Partial("UpdateLocation", new VenueLocationUpdateModel
                    {
                        Address = Model.Address,
                        VenueId = Model.Venue.Id
                    })
                </div>

                <div class="block-section">
                    @Html.Partial("UpdateAbout", new VenueAboutUpdateModel
                    {
                        Description = Model.Description,
                        VenueId = Model.Venue.Id
                    })
                </div>

                <div class="block-section tick-box-section">
                    @Html.Action("UpdateServices")
                </div>

                <div class="block-section tick-box-section">
                    @Html.Action("UpdateAmenities")
                </div>

                <div class="block-section styles-taught-section">
                    @Html.Action("UpdateStyles")
                </div>

                <div class="block-section conditions-taught-section">
                    @Html.Action("UpdateConditions")
                </div>

                @Html.Action("UnclaimButton", "Profiles", new { EntityId = Model.Venue.Id, Model.Venue.EntityTypeName, Id = "", Slug = "" })
                <span class="fl profileDelete button blockButton">
                    <span>&nbsp;</span>
                    @Html.Action("DeleteButton", "Profiles", new { entityId = Model.Venue.Id, Model.Venue.EntityTypeName, Securable = Model.Venue })
                </span>
            </article>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#update-venue-details-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateDetails")', $form.serialize(), $('.profile-details-saved-text'));
            return false;
        });

        $('#NewsletterOptOut').change(function () {
            $form = $('#update-profile-newsletter-opt-form');
            postForm('@Url.Action("UpdateNewsLetterOpt")', $form.serialize(), $('.profile-newsletter-opt-saved-text'));
            return false;
        });

        $('#update-location-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateLocation")', $form.serialize(), $('.venue-location-saved-text'));
            return false;
        });

        $('#update-about-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateAbout")', $form.serialize(), $('.venue-about-saved-text'));
            return false;
        });

        $('#update-services-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateServices")', $form.serialize(), $('.venue-services-saved-text'));
            return false;
        });

        $('#update-amenities-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateAmenities")', $form.serialize(), $('.venue-amenities-saved-text'));
            return false;
        });

        $('#update-styles-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateStyles")', $form.serialize(), $('.venue-styles-saved-text'));
            return false;
        });

        $('#update-conditions-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            postForm('@Url.Action("UpdateConditions")', $form.serialize(), $('.venue-conditions-saved-text'));
            return false;
        });

        function postForm(url, data, saveText) {
            $.ajax({
                type: 'POST',
                url: url,
                async: true,
                data: data,
                success: function (html) {
                    saveText.fadeIn(500);
                    setTimeout(function () {
                        saveText.fadeOut(500);
                    }, 2000);
                }
            });
        };

    </script>
}