@model Clicks.Yoga.Portal.Models.Profiles.ProfileActivitiesModel

@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.MenuSection = SecurityContext.IsOwner(Model.Profile) ? "My Account" : "Community";
}

@section LeftNav {
    @if (SecurityContext.IsOwner(Model.Profile))
    {
        @Html.Action("Navigation")
    }
    else
    {
        @Html.Action("Navigation", "Community")
    }
}

@section Head {
    <meta property="og:title" content="@Model.Profile.Name" />
    @if (Model.Profile.Image != null)
    {
        <meta property="og:image" content="@Html.ImageUrl(Model.Profile.Image)" />
    }
}

@{
    var guid = Guid.NewGuid().ToString();
}

<div id="content-slider" class="content-slider">
    <div class="content-col @(SecurityContext.IsOwner(Model.Profile) ? "profile-strip" : "community-strip")" id="scroll">
        <div id="page-content">
            <article id="static">
                <h1 class="greenHeader myProfileHeader"><span>&nbsp;</span>@Model.Profile.Name</h1>

                <div class="profileBanner">
                    @Html.DisplayFor(m => m.Profile.ProfileBanner, "ProfileBanner")
                </div>

                @Html.Partial("Tabs", new { Model.Profile })

                <h3>Events attending</h3>

                @Html.Action("AttendingPartial", "Activities", new { EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })
                
                @*<h3>Activities I've created</h3>
 
                @if (SecurityContext.IsOwner(Model.Profile))
                {
                    @Html.Action("OwnedPartial", "Activities", new { ProfileId = Model.Profile.Id })
                }
                else
                {
                    @Html.Action("PromotingPartial", "Activities", new { EntityId = Model.Profile.Id, Model.Profile.EntityTypeName })
                }*@
            </article>
        </div>
    </div>
</div>
