@model Clicks.Yoga.Portal.Models.Account.AccountLoginModel
@if (!SecurityContext.Authenticated)
{

    <div class="btn-group" style="width: 64%;float:left;"  role="group" aria-label="...">
        <a href="/" style="width:50%" class="btn  btn-yellow registerRevealBtn scrollTo btn-clear reg-form-header hidden-xs">Join us</a>

       
        <a style="width: 50%; text-decoration:none;"   href="#" onclick="javascript: ShopClick();" class="btn   btn-custom  hidden-xs">Shop</a>

    </div>

    <a href="#" style="width: 33%; float:right;" class="btn btn-default loginRevealBtn  hidden-xs">Log in</a>



        <div class="loginReveal">

            @using (Html.BeginForm("Authenticate", "Account", FormMethod.Post, new { @class = "login ", id = "login-form" }))
            {


                @Html.Hidden("Destination", Request.QueryString["Destination"])
    <span aria-label="Close" class="pull-right loginRevealBtn Login-Close close" title="Close"><span aria-hidden="true">×</span></span>

                if (!string.IsNullOrEmpty(Model.Validation))
                {   <br />
    <div class="validation-summary-errors alert alert-danger ">
        @Model.Validation
    </div>
                }


            <p class="pull-left"><strong>Please enter your login details</strong></p>

                
                
                @Html.TextBoxFor(m => m.Username, new {placeholder = "Email address", style = "margin-right: 3px; margin-bottom: 5px; margin-top: 10px"})
                
              
                
                @Html.PasswordFor(m => m.Password, new {placeholder = "Password", style = "margin-bottom: 5px;"})
                
                
                
                <input type="hidden" name="@Html.NameFor(m => m.Destination)" id="@Html.IdFor(m => m.Destination)" value="@ViewContext.Controller.ControllerContext.HttpContext.Request.Url.PathAndQuery" />

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Persist) <span style="vertical-align: sub;">Keep me logged in</span>
        </label>
    </div>

                    
                
                
                
                <div class="btnWrap">
                  
                    
                    <a href="#" id="fbLoginButton" style="display: block; width: 48%; float:left" class="btn btn-social btn-facebook ">
                        <i class="fa fa-facebook"></i>
                        Sign in
                    </a>


                    <button type="button" id="login-button" style="display: block; width: 48%; float:left" class="btn btn-custom ">Log in</button>

                  

                    <small><a href="@Url.Action("passwordresetrequest", "account")">Forgotten password? </a></small>
                </div>
        }


            @if (!string.IsNullOrEmpty(Model.Destination))
    {
                @Html.HiddenFor(m => m.Destination)
    }
        </div>
        }
        @*
            <form class="clearfix">
                <legend>Previewers, <span>nice to meet you</span></legend>
                <button class="button yellow" onclick="location.href = '@Url.Action("createaccount", "registration")'; return false;">Sign up</button>
                <a href="#" id="fbButton" class="facebook"><img src="/images/buttons/sign-up-with-facebook.gif" alt="Sign up with facebook" width="154" height="25"></a>
            </form>
        *@


        <script type="text/javascript">
            $(document).ready(function () {
                $('#fbLoginButton').on('click', function (e) {
                    e.preventDefault();
                    facebookConnect(function() {
                        var newUrl = window.location.href;
                        if (newUrl.indexOf("register") > 0) {
                            newUrl = "/";
                        } else {
                            newUrl = window.location.href.replace("#", "");
                        }
                        window.location.replace(newUrl);
                    });
                });

            });
            function ShopClick() {
                analytics.identify({

                    type: 'identify',

                    traits: {
                        'Shop-visited': 'true'
                    }

                }, function () {
                    $(location).attr('href', 'https://www.yogaclicks.store/');

                });
            }
        </script>

