@using Clicks.Yoga.Portal.Models.Activities
@using Common
@model Clicks.Yoga.Portal.Models.Activities.ActivityClassWeekContentPartialModel

@{
    var promoterId = Model.Criteria.TeacherId ?? Model.Criteria.VenueId ?? Model.Criteria.TTOEntityId;
    var tto = Model.Criteria.TTOEntityId != null ? "true" : "false";
}
<div class="year-list"></div>
<input type="hidden" value="@tto" class="istto" />
<div class="classesTable class-cal">
    <div class="tableHeader">
        <h3 class="schedule-header">Classes</h3>
        <div class="select-date-container">
            <a href="javascript:void(0)" class="week-selected" data-role="NavigateButton" data-date=""></a>
            <img class="calendar-icon" src="~/Images/icons/calendar.jpg" /><input type="button" id="datepicker" value="Select Date">
        </div>
        <div class="calander-next-prev">
            <div class="prev">
                @if (Model.Date > DateTime.Now.WeekBegin(DayOfWeek.Monday))
                {
                    <a href="javascript:void(0)" data-role="NavigateButton" data-date="@Model.Date.AddDays(-7).ToShortDateString()">Previous Week</a>
                }
            </div>

            <div class="next">
                <a href="javascript:void(0)" data-role="NavigateButton" data-date="@Model.Date.AddDays(7).ToString("dd MMM yyyy")">Next Week</a>
            </div>
        </div>
        <a href="#" class="button fr events-year-button schedule-type-btn">
            @if (tto == "true")
            {
                <span>@DateTime.Now.Year Courses & Events Overview</span>
            }
            else
            {
                <span>@DateTime.Now.Year Events Overview</span>
            }

        </a>

    </div>

    <div data-role="Parameters">
        @Html.Partial("CriteriaHiddenPartial", Model.Criteria)
        @Html.Hidden("Editable", Model.Editable)
    </div>

    <table>
        <tbody>
            @foreach (var day in Model.Days)
            {
                <tr>
                    <td colspan="@(Model.Editable ? 4 : 5)" class="dateHeading">@day.Date.ToString("dddd dd MMMM")</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Venue</th>

                    @if (!Model.Editable)
                    {
                        <th>Teacher</th>
                    }

                    @if (SecurityContext.Authenticated)
                    {
                        <th></th>
                    }
                </tr>

                foreach (var repeat in day.Repeats)
                {
                    @Html.Partial("SchedulePartial", new ActivityClassPartialModel(repeat, Model.Editable))
                }
            }
        </tbody>
    </table>
</div>
<script>

    $(document).ready(function () {
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                      "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var uDatepicker = $.datepicker._updateDatepicker;
        $.datepicker._updateDatepicker = function () {
            var ret = uDatepicker.apply(this, arguments);
            var $sel = this.dpDiv.find('select');
            $sel.find('option').each(function (i) {
                $(this).text(months[i]);
            });
            return ret;
        };
    });

    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            dateFormat: 'dd MM yy'
        });
    });

    $('#datepicker').change(function (e) {
        e.preventDefault();
        var date = $(this).val();
        $('.week-selected').attr('data-date', date);
        $('.week-selected').click();
    });

    function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
        return new Date(d.setDate(diff));
    }

    if ($('.ajax-reload').val() == 'false') {
        if ($('.istto').val() == 'true') {
            var data = { promoterId: '@promoterId' },
                url = '@Url.Action("TTOActivitesForYear")';
            getYearSchedule(url, data, 'true');
        }

        else {
            var data = { promoterId: '@promoterId' },
                url = '@Url.Action("ActivitesForYear")';
            getYearSchedule(url, data);
        }
    }
    else {
        $('.class-cal').show();
    }

    $('body').delegate('.events-year-button', 'click', (function (e) {
        e.preventDefault();
        var data = { promoterId: '@promoterId' };
        var url = '@Url.Action("ActivitesForYear")';

        if ($('.istto').val() == 'true') {
            url = '@Url.Action("TTOActivitesForYear")';
            $('.tto-create-course-btn-container').show();
        }

        if ($('.year-list').html().length > 1) {
            $('.class-cal').hide();
            $('.year-list').fadeIn(500);
        }

        else {
            getYearSchedule(url, data);
        }

    }));

    function getYearSchedule(url, data, tto) {
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (response) {
                $('.class-cal').hide();
                if (tto == 'true') {
                    $('.tto-schedule-container').show();
                }
                $('.year-list').html(response).fadeIn(1000);
                shortenDesc();
            }
        });
    };

    $('body').delegate('.calendar-view-button', 'click', (function (e) {
        e.preventDefault();
        $('.ajax-reload').val('true');
        $('.year-list').hide();
        $('.tto-create-course-btn-container').hide();
        $('.class-cal').fadeIn(500);
    }));

    function shortenDesc() {
        $('.cal-event-desc').each(function () {
            var div = $(this),
                divh = div.height(),
            span = $('span:first', div);
            while ($(span).outerHeight() > divh) {
                $(span).text(function (index, text) {
                    return text.replace(/\W*\s(\S)*$/, '...');
                });
            }
        });
    };

</script>